.app-header-container {
    height: 100%;

    // border-bottom: 1px solid rgb(191, 191, 191);
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;

    & .app-header {
        margin-block: calc($padding-large - 5px);
        display: flex;
        font-size: rem(14px);
        align-items: center;

        & .logo-container {
            display: flex;

            gap: $padding-large;

            & .page-navbar {
                align-self: center;

                .logo-svg {
                    display: flex;
                    color: #ff385c;
                    gap: $padding-small;
                    padding-inline-end: 75px;

                    span {
                        height: fit-content;
                        margin-block: auto;
                        font-family: cereal;
                        font-size: em(20px);
                    }
                }
            }

        }

        & .filter-container {
            height: calc($height-header - 30px);
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            font-family: montserrat semibold;

            & :first-child {
                flex: 1 1 auto;
            }

            & :last-child {
                flex: 1.211 1 auto;
            }

            & .filter {
                background-color: inherit;
                cursor: pointer;

                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                width: 353px;
                padding: 0;

                border: 1px solid rgb(221, 221, 221);
                border-radius: 40px;

                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);
                transition: box-shadow 0.2s ease;

                &>* {
                    &:not(:last-child) {
                        flex: 1 1 auto;
                        text-align: center;
                        font-size: 14px;
                        padding-inline-start: 22px;
                        white-space: nowrap;
                    }

                    &:is(:nth-child(1), :nth-child(2)) {
                        font-family: montserrat semibold;
                        padding-inline-start: 20px;
                        margin-inline-end: -2px;
                        transform: scaleX(90%);
                        color: #222222;
                    }

                    &:nth-child(3) {
                        font-family: montserrat;
                        margin-inline-end: 3px;
                        transform: scaleX(91%);
                        color: #717171;
                    }
                }

                & :nth-child(2) {
                    position: relative;

                    &::before {
                        content: '|';
                        position: absolute;
                        left: 0;
                        // transform: scaleY(2);
                        // margin-inline-start: 3px;
                        color: rgb(221, 221, 221);

                        font-size: 8px;
                        transform: scaleY(4);
                        margin-block-start: 3px;
                        margin-inline-start: 4px;
                    }

                    &::after {
                        content: '|';
                        position: absolute;
                        transform: scaleY(2);
                        right: 0;
                        color: rgb(221, 221, 221);
                        margin-inline-end: -17px;
                        font-size: 8px;
                        transform: scaleY(4);
                        margin-block-start: 3px;
                    }
                }

                & .filter-search-circle {
                    background-color: #ff385c;
                    color: rgb(255, 255, 255);
                    border-radius: 50%;
                    height: 32px;
                    width: 32px;
                    padding: 0px;
                    align-self: center;
                    margin-block: calc($padding-small + 2px);
                    margin-inline-end: calc($padding-small + 2px);
                    max-width: 32px;

                    &>* {
                        margin-inline: auto;
                        margin-block: auto;
                        height: 100%;
                    }
                }
            }

            & .filter:hover {
                box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
            }

            & .filter-expanded {
                height: fit-content;

                & .experiences-tab {
                    display: flex;
                    font-size: rem(16px);
                    // margin-block-start: 30px;
                    margin-top: 2px;
                    padding-inline-start: 10px;

                    // position: relative;

                    &>*.selected::after {
                        content: '';
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: -7px;
                        height: fit-content;
                        border-bottom: 2px solid black;
                    }

                    &>*:not(.selected):hover ::after {
                        content: '';
                        display: block;
                        width: 100%;
                        position: absolute;
                        bottom: -7px;
                        height: fit-content;
                        border-bottom: 2px solid rgb(138, 138, 138);
                    }

                    & article {
                        margin-block: 10px;

                        &:first-child {
                            transform: scaleX(0.9352);
                            margin-inline-end: 27px;

                        }

                        &:nth-child(2) {
                            transform: scaleX(0.9240);
                            margin-inline-end: 21px;
                        }

                        &:last-child {
                            transform: scaleX(0.9084);
                        }

                        & span {
                            font-family: montserrat;
                            line-height: rem(20px);
                            font-weight: 400;
                        }
                    }

                    & article:not(.selected):hover {
                        color: rgb(138, 138, 138);
                    }



                }

            }

            & .filter-expanded:hover {
                cursor: pointer;
            }

            // &:is(.filter-expanded){
            //     margin-block-start:0;
            // }
        }


        & .user-container {
            // height: 42px;
            // width: 77px;
            // border: 1px solid rgb(221, 221, 221);
            // border-radius: 21px;
            // justify-self:;

            .user-navbar {
                display: flex;

                height: 42px;
                width: 77px;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 21px;

                padding: 5px 5px 5px 12px;
                align-items: center;


                & .bars {
                    color: #222222;
                }

                & .profile {
                    color: #717171;
                    height: 30px;
                    margin-left: auto;
                }
            }
        }

    }

    & .filter-expanded-container {
        height: 80px;
        display: grid;
        grid-template-columns: auto 850px auto;
        // background-color: aqua;


        & .filter-expanded {
            display: flex;
            // justify-content: space-between;
            justify-content: center;
            align-items: center;
            grid-column: 2;
            // background-color: #ff385c;
            height: 66px;
            border-radius: 32px;
            border: 1px solid rgb(221, 221, 221);
            background-color: rgb(235, 235, 235);
            width: 850px;

            // &>*:not(:last-child) {
            //     border-right: 1px solid black;
            // }

            .btn-main-search {
                background-color: $main-clr1;
                padding-inline: 16px;
                padding-block: 16px;
                color: $gray-clr-1;
                border: none;
                border-radius: 32px;
                white-space: nowrap;
                height: rem(48px);
                // width: rem(111.750px);
                width: rem(112px);
                display: flex;
                align-items: center;
                gap: calc($padding-small + 1px);


                & :first-child {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                }

                & :last-child {
                    font-size: rem(16px);
                    font-weight: 600;
                }
            }

            .btn-main-search:hover {
                cursor: pointer;
            }

            &>* {
                & h3 {
                    font-size: rem(12px);
                    height: rem(16px);
                    padding-block-end: rem(2px);
                    font-weight: 100;
                }

                &:not(:last-child) span {
                    height: 18px;
                    color: $gray-clr1;
                }
            }




            & .where {
                padding-inline: rem(32px);
                padding-block: rem(14px);

                input {
                    width: 261.391px;
                    height: 18px;
                    border: none;
                    background-color: inherit;
                }

                input:focus {
                    outline: none;
                }
            }

            & .check-in,
            & .check-out {
                padding-block: rem(14px);
                padding-inline: rem(24px);

                &>* {

                    width: rem(81.656px);
                }
            }

            & .who {
                padding-block: rem(14px);
                padding-inline-start: rem(24px);
                padding-inline-end: rem(23.9px);
                &>* {
                    width: rem(97.56px);
                }
            }

            & .search {
                padding-inline-end: 10px;
            }

            & :last-child {
                // margin-inline-end: 3.8px;
                // padding-inline-end: 6px;
            }
        }
    }
}







//FAILED ATTEMPTS AT GRAYING OUT SCREEN, LAY BELOW :(
// .app-header-container::after {
//     content: '';
//     height: 100%;
//     opacity: 1;
//     position: absolute;
//     top: 0;
//     width: 100%;
//     z-index: 100;
// }

// .app-header-container::before {
//     content: '';
//     // height: 100%;
//     opacity: 1;
//     position: absolute;
//     top: -10px;
//     right: -10px;
//     bottom: -10px;
//     left: -10px;
//     // width: 100%;
//     pointer-events: none;
//     height: 250px;
// }