.app-header-container {
    // height: $height-header;
    height: 100%;
    // padding-inline-end: $padding-small;
    // max-height: 80px;


    & .app-header {
        margin-block: calc($padding-large - 5px);
        display: flex;
        font-size: rem(14px);
        align-items: center;

        & .navbar-container {
            display: flex;

            gap: $padding-large;

            & .page-navbar {
                align-self: center;

                .logo-svg {
                    display: flex;
                    color: #ff385c;
                    gap: $padding-small;
                    padding-inline-end: 75px;

                    span {
                        height: fit-content;
                        margin-block: auto;
                        font-family: cereal;
                        font-size: em(20px);
                    }
                }
            }

        }

        & .search-navbar-container {
            height: calc($height-header - 30px);
            // background-color: blue;  
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            // margin-inline-end: 250px;
            // margin-inline-start: auto;
            font-family: montserrat semibold;
            // font-size: 10px;
            // font-weight: 800;
            // transform:scaleY(0.95);


            & :first-child {
                flex: 1 1 auto;
            }

            & :last-child {
                flex: 1.211 1 auto;
            }

            & .search-navbar {
                // height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 353px;
                // height: 100%;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 40px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.05);

                &>* {
                    &:not(:last-child) {
                        flex: 1 1 auto;
                        text-align: center;
                        font-size: 14px;
                        padding-inline-start: 22px;
                        white-space: nowrap;
                    }

                    &:is(:nth-child(1), :nth-child(2)) {
                        font-family: montserrat semibold;
                        padding-inline-start: 20px;
                        margin-inline-end: -2px;
                        transform: scaleX(90%);
                    }

                    &:nth-child(3) {
                        font-family: montserrat;
                        margin-inline-end: 3px;
                        transform: scaleX(91%);
                    }
                }

                & :nth-child(2) {
                    position: relative;

                    &::before {
                        content: '|';
                        position: absolute;
                        left: 0;
                        // transform: scaleY(2);
                        // margin-inline-start: 3px;
                        color: rgb(221, 221, 221);

                        font-size: 8px;
                        transform: scaleY(4);
                        margin-block-start: 3px;
                        margin-inline-start: 4px;
                    }

                    &::after {
                        content: '|';
                        position: absolute;
                        transform: scaleY(2);
                        right: 0;
                        color: rgb(221, 221, 221);
                        margin-inline-end: -17px;
                        font-size: 8px;
                        transform: scaleY(4);
                        margin-block-start: 3px;
                    }
                }

                & .custom-btn-main-search {
                    @include custom-btn-main-search;
                    // right: 0;
                    // height: fit-content;
                    // width: fit-content;
                    // padding: calc($padding-small * 2);
                    align-self: center;
                    margin-block: calc($padding-small + 2px);
                    margin-inline-end: calc($padding-small + 2px);
                    max-width: 32px;


                    svg {
                        margin-inline: auto;
                    }
                }

            }



        }


        & .user-navbar-container {
            // height: 42px;
            // width: 77px;
            // border: 1px solid rgb(221, 221, 221);
            // border-radius: 21px;
            // justify-self:;

            .user-navbar {
                display: flex;

                height: 42px;
                width: 77px;
                border: 1px solid rgb(221, 221, 221);
                border-radius: 21px;

                padding: 5px 5px 5px 12px;
                align-items: center;


                & .bars {
                    color: #222222;
                }

                & .profile {
                    color: #717171;
                    height: 30px;
                    margin-left: auto;
                }
            }
        }

    }
}