.app-footer {
    position: sticky;
    bottom: 0;
    height: 50px;
    border-top: 1px solid $gray-clr3;
    background-color: $gray-clr-1;

    &.details-layout {
        position: static;
        background-color: $gray-clr5;
        height: 70px;
    }

    & ul.left-list > *:not(:last-child)::after {
        content: "·";
        text-align: center;
        display: inline-block;
        width: 19px;
    }
}
