.app-footer {
    background-color: rgb(255, 255, 255);
    color: $clr4;
    padding-top: 13px;
    padding-bottom: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    text-align: center;
    padding: 0 80px;

    & p {
        margin: 0;
        padding-block-start: calc($padding-large - 7px);
        padding-block-end: calc($padding-large - 6px);
    }
}