.filter-unraveled-container {
    .filter-date-picker {

        td {
            position: relative;

            & :is(.day-range-start, .day-range-end) {
                background-color: rgb(34, 34, 34);
                border-radius: 100%;
            }

            &:has(.day-range-end, .day-range-start) {
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    width: 50%;
                    height: 100%;
                    background-color: #f7f7f7;
                }
            }

            &:has(.day-range-start) {
                &::before {
                    right: 0;
                }
            }

            &:has(.day-range-end) {
                &::before {
                    left: 0;
                }
            }

            & .day-range-middle {
                background-color: #f7f7f7;
                color: #222222;
                border-radius: 0;
            }
        }
    }

    .guest-count-filter {

        & .card {
            white-space: nowrap;
            display: flex;
            justify-content: space-between;
            padding-block: em(24px);

            & p {
                margin: 0;
            }

            &:not(:last-child) {
                content: '';
                border-bottom: 1px solid rgb(235, 235, 235);
            }

            .custom-btn-guest-count {
                background-color: rgb(255, 255, 255);
                color: rgb(113, 113, 113);
                border: 1px solid rgb(176, 176, 176);
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-weight: 700;
                cursor: pointer;
                font-size: 13.5px;
            }

            & span {
                margin-inline: 10px;
                text-align: center;
                font-weight: 600;
            }

            .pet-service {
                font-weight: 600;
                color: rgb(113, 113, 113);
                cursor: pointer;
            }

            .custom-btn-guest-count:hover {
                border-color: rgb(34, 34, 34);
            }

            .custom-btn-guest-count:disabled {
                cursor: not-allowed;
                border-color: #EBEBEB;
                color: #EBEBEB;
            }
        }
    }
}