.filter-date-picker {

    td {
        position: relative;

        & :is(.day-range-start, .day-range-end) {
            background-color: rgb(34, 34, 34);
            border-radius: 100%;
        }

        &:has(.day-range-end, .day-range-start) {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                width: 50%;
                height: 100%;
                background-color: #f7f7f7;
            }
        }

        &:has(.day-range-start) {
            &::before {
                right: 0;
            }
        }

        &:has(.day-range-end) {
            &::before {
                left: 0;
            }
        }

        & .day-range-middle {
            background-color: #f7f7f7;
            color: #222222;
            border-radius: 0;
        }
    }
}