/* CSS styles for the slider bar */
.rc-slider {
    width: 100%;
    height: 2px;
    position: relative;
}

.rc-slider-rail {
    background-color: $gray-clr3;
    height: 4px;
}

.rc-slider-track {
    background-color: $black-clr1;
    position: absolute;
    height: 4px;
}

.rc-slider-handle {
    width: 32px;
    height: 32px;
    background-color: $gray-clr-1;
    top: -15%;
    border: 1px solid $gray-clr3;
    box-shadow: $box-shadow13;
    cursor: pointer;
    fill: $black-clr1;
    transition: scale 0.1s ease;
}

.rc-slider-handle:hover {
    border: 1px solid $gray-clr3;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    box-shadow: $box-shadow13;
    border: 1px solid $gray-clr3;
}

.rc-slider-handle:active {
    scale: 1.1875;
}

.price-ranges {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
}

.places-type {
    display: grid;
    border-radius: 12px;
    min-height: 70px;
    grid-auto-columns: minmax(0px, 1fr);
    grid-auto-flow: column;

    button {
        background-color: $gray-clr-1;
        color: inherit;
        border-color: $black-clr1;
        background-image: $linear-gradient3;
    }

    button:active {
        background-color: $black-clr1;
    }
}

.type {
    color: $gray-clr-1;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;

    span {
        color: $gray-clr3;
    }
}
