.filter-expanded-container {
    height: 80px;
    display: grid;
    // grid-template-columns: 1fr 850px 1fr;
    grid-template-rows: none;
    grid-template-columns: repeat(3, 1fr);
    transition: all 0.2s;
    position: absolute;
    background-color: white;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 0;
    margin-block-start: 80px;

    & .filter-expanded {
        grid-column: 2;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;

        // height: 64px;
        height: fit-content;
        white-space: nowrap;

        background-color: $gray-clr4;
        border-radius: 32px;
        border: 1px solid $gray-clr3;
        position: relative;

        &>* {

            &.active {
                background-color: $gray-clr-1;
                border-radius: 32px;

                &>* {
                    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
                    border-radius: 32px;
                }
            }

            &.where-container.active {
                box-shadow: -1px 0px 0px 1px rgb(255, 255, 255);
            }

            &:is(.check-in-container, .check-out-container).active {
                box-shadow: 0px 0px 0px 1px rgb(255, 255, 255);
            }

            &.who-container.active {
                box-shadow: 1px 0px 0px 1px rgb(255, 255, 255);
            }



            &:not(.who-container)>*,
            &.who-container .who-search .who {

                padding-block: 12.8124px;

                &:not(.where) {
                    padding-block: 15px;
                }

                &>* {
                    &:first-child {
                        font-family: Circular-Bold;
                        font-size: rem(12px);
                        letter-spacing: 0.48px;
                        line-height: 16px;
                        padding-block-end: 0.03px;
                    }

                    &:last-child {
                        font-family: Circular-Regular;
                        font-size: 14px;
                        color: $gray-clr0;
                        letter-spacing: 0;
                        line-height: 18px;

                        &:is(span) {
                            display: block;
                        }

                        &:is(input) {
                            background-color: inherit;
                            border: 0;
                            padding: 0;
                        }
                    }
                }
            }

            & .where {
                padding-inline: 32.52px;

                &>* {
                    width: 261.391px;
                }
            }

            & .check-in,
            .check-out {
                padding-inline: 24px;

                &>* {
                    width: 81.656px;
                }
            }

            & .who-search {
                width: 262.312px;
                display: flex;
                justify-content: space-between;

                & .who {
                    padding-inline: 24px;
                    width: 97.562px;
                    flex: 1 1 auto;
                }

                & .search {
                    display: flex;
                    padding: 0;
                    border: 0;
                    align-items: center;
                    border-radius: 32px;
                    width: 111.750px;
                    height: 48px;
                    background-color: $main-clr0;
                    gap: 8px;
                    padding-block: 16px;
                    padding-inline: 16px;
                    margin-block: auto;
                    margin-inline-end: 8px;

                    &>* {
                        color: $gray-clr-1;
                        width: fit-content;

                        // height: 16px;
                        &:first-child {
                            height: 16px;
                        }

                        &:last-child {
                            font-family: Circular-Semibold;
                            font-size: rem(16px);
                            // margin-top: -0.5px;
                        }
                    }


                    &:hover {
                        cursor: pointer;
                    }
                }

                & .who,
                .search {
                    &>* {
                        width: 81.656px;
                    }
                }

            }

            &:not(.active):hover {
                background-color: rgb(221, 221, 221);
                border-radius: 32px;
            }
        }

        & .check-in-container,
        .check-out-container,
        .who-container {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                background-color: $gray-clr3;
                height: 32px;
                width: 1px;
                top: 17px;
                left: 0;
            }
        }





        &:hover {
            cursor: pointer;
        }


        // hover on either element 1 or adjacent element 2, change pseudo element in element 2
        & .where-container:hover+.check-in-container::before,
        & .check-in-container:hover::before,
        & .check-in-container.active::before {
            width: 0;
        }

        & .check-in-container:hover+.check-out-container::before,
        & .check-out-container:hover::before,
        & .check-out-container.active::before {
            width: 0;
        }

        & .check-out-container:hover+.who-container::before,
        & .who-container:hover::before,
        & .who-container.active::before {
            width: 0;
        }



        & .size-less {
            height: 0;
            width: 0;

            & .modal {
                position: absolute;
                background-color: $gray-clr-1;
                border-radius: 32px;
                margin-block-start: 44px;
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.15);
                padding-inline: 32px;
                padding-block: 16px;
                cursor: default;


                &.where {
                    left: 0;
                }

                &:is(.check-in, .check-out) {
                    left: 0;
                    right: 0;
                }

                &.who {
                    right: 0;
                }

                & .filter-date-picker {
                    margin-inline: auto;
                    color: inherit;

                    & .rdp-head {
                        & th {
                            font-size: rem(12px);
                            font-family: Circular-Bold;
                            color: $gray-clr0;
                            line-height: 16px;
                            text-transform: capitalize;
                        }
                    }

                    & .rdp-months {
                        & .rdp-caption_label {
                            font-size: rem(16px);
                            line-height: 20px;
                            font-family: Circular-SemiBold;
                            font-weight: 400;
                        }
                    }

                    // & .rdp-cell {
                    //     & .rdp-day {
                    //         font-family: Circular-SemiBold;
                    //         font-weight: 400;
                    //         // &:hover{
                    //             border: 1.5px solid rgb(34, 34, 34);
                    //             // background-color: inherit;
                    //         // }
                    //     }
                    // }

                    & .rdp-nav{
                        svg{
                            width: 12px;
                            height: 16px;
                        }
                    }

                    // & .rdp-button{
                    //     width: 32px;
                    //     height: 32px;
                    //     align-items: center;
                    //     &:hover{
                    //         background-color: $gray-clr5;
                    //     }
                    // }

                    & td {
                        position: relative;

                        & :is(.day-range-start, .day-range-end) {
                            background-color: rgb(34, 34, 34);
                            border-radius: 100%;
                        }

                        &:has(.day-range-end, .day-range-start) {
                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                width: 50%;
                                height: 100%;
                                background-color: #f7f7f7;
                            }
                        }

                        &:has(.day-range-start) {
                            &::before {
                                right: 0;
                            }
                        }

                        &:has(.day-range-end) {
                            &::before {
                                left: 0;
                            }
                        }

                        & .day-range-middle {
                            background-color: #f7f7f7;
                            color: #222222;
                            border-radius: 0;
                        }
                    }
                }

                & .guest-count-filter {
                    padding-inline: 6px;

                    & .card {
                        white-space: nowrap;
                        display: flex;
                        justify-content: space-between;
                        padding-block: 24px;
                        padding-inline-end: 4px;
                        width: 326px;

                        & .txt-content {
                            & h3 {
                                font-size: rem(16px);
                                line-height: 20px;
                                letter-spacing: normal;
                                font-family: Circular-Semibold;
                                font-weight: 400;
                            }

                            & p {
                                padding-block-start: 4px;
                                color: $gray-clr0;
                                margin: 0;

                                &.pet-service {
                                    font-family: Circular-Semibold;
                                    color: $gray-clr0;
                                    cursor: not-allowed;
                                }
                            }
                        }


                        &:not(:last-child) {
                            content: '';
                            border-bottom: 1px solid rgb(235, 235, 235);
                        }

                        & .stepper {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            width: 104px;
                            justify-content: space-between;


                            & .custom-btn-guest-count {
                                background-color: rgb(255, 255, 255);
                                color: rgb(113, 113, 113);
                                border: 1px solid rgb(176, 176, 176);
                                border-radius: 50%;
                                width: 30px;
                                height: 30px;
                                font-weight: 700;
                                cursor: pointer;
                                font-size: 13.5px;
                            }

                            & span {
                                font-size: rem(16px);
                                color: $black-clr1;
                            }
                        }


                        // .pet-service {
                        //     font-weight: 600;
                        //     color: rgb(113, 113, 113);
                        //     cursor: not-allowed;
                        // }

                        .custom-btn-guest-count:hover {
                            border-color: rgb(34, 34, 34);
                        }

                        .custom-btn-guest-count:disabled {
                            cursor: not-allowed;
                            border-color: #EBEBEB;
                            color: #EBEBEB;
                        }
                    }
                }
            }
        }
    }
}


.filter-expanded-container.folded {
    translate: 0px -73px;
    opacity: 0;
    scale: 48% 82%;
    height: 0;
    pointer-events: none;
}