.table-wrapper {
  margin: 24px 0;
  padding-left: 8px;
  padding-right: 8px;
  overflow-x: auto;
  box-shadow: #0000001f 0 1px 12px;


  .table-container {
    max-width: 100%;
    overflow-x: scroll;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  th,
  td {
    // padding: 10px;
    text-align: left;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 70px;

    .order-mini-user {
      img {
        width: 42px;
        height: 42px;
        border-radius: 50px;
        object-fit: cover;
        margin-right: 16px;
      }
      .mini-user-info {
        flex-direction: column;

        .joined-in {
          font-size: rem(12px);
          color: $gray-clr2;
        }
      }
    }


  }

  th:first-child,
  td:first-child {
    border-left: none;
    width: 55%;
  }

  th:last-child,
  td:last-child {
    border-right: none;
    width: 20%;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
  }

  .actions>* {
    width: 90%;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .action-button.approve:hover {
    background-color: hsl(120, 98%, 35%);
  }

  .action-button.reject:hover {
    color: red;
  }

  .selection {
    // font-weight: bold;
    width: 90%;
    color: $gray-clr2;
    font-size: rem(14px);

  }
  
  .approved {
    color: rgb(167, 239, 167);
  }

  .rejected {
    color: rgb(233, 171, 171);
  }

  .action-button.approve {
    background-color: #00C853;
    color: white;
  }

  .action-button.reject {
    background-color: $gray-clr5;
    color: 233, 171, 171;
  }

}