.table-wrapper {
    box-shadow: #0000001f 0 6px 16px;
    padding: 24px;
    overflow-x: auto;
    max-width: 100%;
    border: 1px solid red;

    .table-container {
        table {
            width: 100%;
            border-collapse: collapse;
            white-space: nowrap;
            

            th,
            td {
                padding: 8px;
            }

            th:first-child,
            td:first-child {
                position: sticky;
                left: 0;
                background-color: #f2f2f2;
                z-index: 1;
            }

            th {
                font-weight: bold;
                text-align: left;
            }

            td {
                border-top: 1px solid #ddd;
            }

            tr:nth-child(even) {
                background-color: #f9f9f9;
            }

            tr:hover {
                background-color: #f5f5f5;
            }

            @media (max-width: 600px) {

                th,
                td {
                    font-size: 14px;
                }

                td:last-child,
                th:last-child {
                    padding-right: 0;
                }
            }
        }
    }
}