.main-nav-menu-container {
    justify-self: end;
    position: relative;

    & .main-nav-menu {
        display: flex;
        cursor: pointer;
        position: relative;
        flex-direction: row;
        height: 42px;
        width: 77px;
        border: 1px solid rgb(221, 221, 221);
        border-radius: 21px;

        padding: 5px 5px 5px 12px;
        align-items: center;
        transition: box-shadow 0.2s ease;

        & .bars {
            color: #222222;
        }

        & .profile {
            color: #717171;
            height: 30px;
            margin-left: auto;
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
        }
    }

}