.stay-preview {
    p {
        margin: 0;
    }

    position: relative;
    cursor: pointer;

    .price-preview span {
        font-family: Circular-Semibold;
        letter-spacing: 0.5px;
    }

    .heart-svg {
        position: absolute;
        top: 3%;
        left: 85%;
        right: rem(15px);
    }

    .img-container {
        height: 100%;
        border-radius: 12px;
        overflow: hidden;

        img {
            aspect-ratio: 1.08 / 0.99;
            object-fit: cover;
        }
    }

    .review-rate {
        width: auto;
        display: flex;
        @include between();
        gap: rem(3px);

        img {
            height: rem(14px);
            width: rem(14px);
        }
    }

    .preview-info {
        margin-top: rem(13px);
        line-height: 1.13rem;
        font-family: cereal-std;
        padding: 0;
    }

    .preview-header {
        display: flex;
        @include between();

        p:first-child {
            font-size: 15px;
            letter-spacing: 0.75px;
        }
    }

    .react-multiple-carousel__arrow::before {
        color: black;
        font-size: 12px;
        font-weight: 900;
    }

    .react-multiple-carousel__arrow {
        opacity: 0;
        font-weight: 700;
        background-color: white;
        color: black;
        margin: auto;
        min-width: 30px;
        min-height: 30px;
        border-radius: 50%;
    }

    &:hover .react-multiple-carousel__arrow {
        opacity: 0.85;
    }

    & .react-multiple-carousel__arrow:hover {
        opacity: 1;
        scale: 1.05;
    }

    .react-multi-carousel-dot button {
        height: rem(7px);
        width: rem(7px);
        border-color: white;
        background-color: white;
        opacity: 0.35;
    }

    .react-multi-carousel-dot--active button {
        opacity: 1;
    }

    .react-multi-carousel-dot-list {
        margin-block-end: rem(5px);
    }

    .price-preview {
        margin-block-start: rem(10px);
    }
}

.stay-info {

    p:first-child {
        margin-block-start: 2px;
        color: $gray-clr0;
    }

    p:nth-child(2) {
        margin-block-start: 3px;
        color: $gray-clr0;

    }
}