.user-msg {
    position: fixed;
    top: 8.5%; /* Position the container 10 pixels from the top */
    left: 50%; /* Horizontally center the modal */
    transform: translateX(-50%); /* Adjust for the half-width of the modal */
    max-width: 400px;
    padding: 16px;
    z-index: 11;
    border-radius: 12px;
    background-color: $gray-clr7;
    color: $gray-clr-1;
    opacity: 0.8;
    overflow: hidden;

    &.success {
        background-color: $positive-clr1;
        box-shadow: $box-shadow14;
    }

    &.error {
        background-color: $negative-clr1;
        box-shadow: $box-shadow14;
    }
}
