.dashboard-page {
    margin-block: 24px;

    & .overview {
        box-shadow: $box-shadow16;
        font-family: Circular-semibold;
        font-size: rem(22px);
        padding: 12px;
        margin-block-end: 24px;

        & h4 {
            text-align: center;
            margin-block: 8px;
            padding-block-end: 16px;
            border-block-end: $border-bottom;
        }

        & h5 {
            padding-block: 8px;
        }

        & span {
            font-family: Circular-bold;
        }
    }

    & .sales-dashboard {
        & .chart-container {
            box-shadow: $box-shadow16;
            padding: 24px;
            border-radius: 12px;
            max-height: 250px;
            width: 100%;
        }
    }
}
