.order-confirmation {
    margin-top: 50px;

    & .confirmation-header {
        gap: 20px;

        & .return-btn {
            padding: 12px;
            border-radius: 32px;
            transition: background-color 0.2s ease-in;

            &:hover {
                background-color: $gray-clr4;
            }
        }

        & h2 {
            font-size: rem(32px);
        }

        margin-block-end: 52px;
    }

    & .confirmation-container {
        display: grid;
        grid-template-columns: 1.202fr 1fr;
        column-gap: 95px;

        & .confirmation-dates-guests {
            padding-bottom: 16px;
            border-bottom: 1px solid $gray-clr3;

            & :is(.dates, .guests) {
                margin-top: 26px;

                & p {
                    margin-top: 16px;
                    letter-spacing: 0;
                    margin-top: 6px;
                    font-weight: 100;
                    font-size: rem(16px);
                }
            }
        }

        & .message-host {
            margin-top: 32px;
            border-bottom: 1px solid $gray-clr3;

            & .intro {
                & h3 {
                    margin-bottom: 20px;
                }

                & h5 {
                    margin-bottom: 4px;
                }

                & p {
                    letter-spacing: 0;
                }
            }

            & .host-details-preview {
                padding-block-start: 16px;
                padding-block-end: 32px;

                & img {
                    width: 42px;
                    height: 42px;
                    border-radius: 50px;
                    object-fit: cover;
                    margin-right: 16px;
                }
            }

            & textarea {
                border-radius: 8px;
                border-color: $gray-clr3;
                width: 100%;
                height: 125px;
                margin-bottom: 24px;
                resize: none;
            }
        }

        & .cancellation-policy {
            margin-top: 34px;
            border-bottom: 1px solid $gray-clr3;
            padding-bottom: 16px;

            & h3 {
                margin-bottom: 26px;
            }

            & p {
                letter-spacing: 0;
                line-height: 1.28;
            }
        }

        & aside {
            grid-area: 1 / 2 / span 3;
            border: 1px solid $gray-clr2;
            border-radius: 12px;
            padding: 22px;
            flex-direction: column;
            height: fit-content;
            position: sticky;

            & .confirmation-preview {
                border-bottom: 1px solid $gray-clr3;
                padding-bottom: 24px;

                & img {
                    aspect-ratio: 1.18/1;
                    width: 124px;
                    object-fit: cover;
                    border-radius: 8px;
                    margin-right: 12px;
                }

                & .detail {
                    & .stay-type {
                        color: $gray-clr0;
                        margin-bottom: 0;
                    }

                    & .short-summary {
                        line-height: 24px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                    }

                    & .confirmation-reviews {
                        margin-top: 44px;
                        font-size: rem(12px);
                        & > * {
                            padding-inline-start: 5px;
                        }
                    }
                }
            }

            & .price-details {
                margin-top: 26px;

                & .title {
                    margin-block-end: 24px;
                }

                & > :is(.cleaning-fee, .service-fee) {
                    margin-block-start: 10px;
                }

                & .service-fee {
                    padding-block-end: 22px;
                    border-bottom: 1px solid $gray-clr3;
                }

                & .total-price {
                    margin-block-start: 22px;
                }
            }
        }

        & .declaration {
            margin-block-start: 40px;

            & span {
                text-decoration: underline;
            }
        }
    }

    & .confirm-btn {
        margin-block: 24px;
        width: 204px;
    }
}
