.order-confirmation-page {
    & .confirmation-header {
        margin-block: 50px;

        & .return-btn {
            padding: 12px;
            border-radius: 32px;
            transition:
                background-color 0.2s ease-in,
                transform 0.2s ease-in;
            background-color: $gray-clr4;

            &:hover {
                background-color: $gray-clr2;
                transform: scale(1.3);
            }
        }
    }

    & .confirmation-main-container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;

        & .confirmation-main {
            & .dates-guests {
                padding-block-end: 32px;
                border-bottom: 1px solid $gray-clr3;

                & :is(.dates, .guests) {
                    margin-block-start: 26px;

                    & p {
                        margin-block-start: 6px;
                    }
                }
            }

            & .message-host {
                padding-block: 32px;
                border-bottom: 1px solid $gray-clr3;

                & .intro {
                    & h3 {
                        margin-block-end: 20px;
                    }

                    & h5 {
                        margin-block-end: 4px;
                    }
                }

                & .host-preview {
                    padding-block-start: 16px;
                    padding-block-end: 32px;

                    & .img-container img {
                        width: 42px;
                        height: 42px;
                        border-radius: 50px;
                    }
                }

                & textarea {
                    border-radius: 8px;
                    border-color: $gray-clr3;
                    width: 100%;
                    height: 125px;
                    resize: none;
                }
            }

            & .cancellation-policy {
                padding-block: 32px;
                border-bottom: 1px solid $gray-clr3;

                & h3 {
                    margin-block-end: 10px;
                }
            }

            & .declaration {
                padding-block-start: 32px;
            }
        }

        & .confirmation-sidebar {
            grid-area: 1 / 2 / span 3;
            position: sticky;
            top: 218px;
            height: fit-content;
            border: 1px solid $gray-clr2;
            border-radius: 12px;

            & .stay-information {
                border-bottom: 1px solid $gray-clr3;
                padding-block-end: 24px;

                & .img-container {
                    min-width: 100px;

                    & img {
                        border-radius: 8px;
                    }
                }

                & .information {
                    & .stay-type {
                        color: $gray-clr0;
                    }

                    & .short-summary {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 6;
                        -webkit-box-orient: vertical;
                    }

                    & .confirmation-reviews {
                        margin-block-start: 40px;

                        & > * {
                            padding-inline-start: 5px;
                        }
                    }
                }
            }

            & .price-details {
                padding-block-start: 24px;

                & > :is(.night-price, .cleaning-fee, .service-fee) {
                    margin-block-start: 10px;
                }

                & .service-fee {
                    padding-block-end: 24px;
                    border-bottom: 1px solid $gray-clr3;
                }

                & .total-price {
                    padding-block-start: 24px;
                }
            }
        }
    }

    & .confirm-btn {
        margin-block: 24px;
        width: 204px;
    }
}
