.stay-details {
    margin: auto;
    scroll-margin-top: 25px;

    &.mobile {
        & .stay-title-container {
            border-block-end: $border-bottom;
        }

        & .stay-photos-container {
            position: sticky;
            width: 100%;
            left: 0;
        }

        & .stay-overview-container {
            padding-block-start: 24px;
        }
    }

    &:not(.mobile) {
        & .stay-photos-title-container {
            display: flex;
            flex-direction: column-reverse;
        }

        & .stay-photos-container {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, minmax(1fr, 180px));
            border-radius: 12px;
            overflow: hidden;
            gap: 8px;
        }

        & .summary-container {
            display: grid;
            grid-template-columns: 1.4fr 1fr;
            padding-block-start: 48px;
        }
    }
}
