.stay-details {
    max-width: 1120px;
    margin: auto;

    img {
        cursor: pointer;
        aspect-ratio: 1.08 / 1;
    }

    .stay-review {
        flex-direction: column;

        h1 {
            font-size: 26px;
            margin-bottom: 0.35em;
        }

        .info-bar {
            padding: 0;

            .info {
                padding: 0;
                align-items: center;
                justify-content: center;
                gap: 0.5em;

                .review-star {
                    width: 12px;
                }

                .info-review,
                .info-loc {
                    text-decoration: underline;
                }
            }

            .btns {
                align-items: baseline;
                gap: 1em;

                .share-btn {
                    gap: 0.4em;
                    position: relative;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    display: flex;

                    .share-btn-overlay {
                        position: absolute;
                        inset: -10%;
                        background-color: lightgray;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        border-radius: 6px;
                    }

                    &:hover .share-btn-overlay {
                        opacity: 0.3;
                    }

                    .share-svg {
                        width: 16px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }

                .save-btn {
                    gap: 0.4em;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    position: relative;

                    .save-btn-overlay {
                        position: absolute;
                        inset: -10%;
                        background-color: lightgray;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                        border-radius: 6px;
                    }

                    &:hover .save-btn-overlay {
                        opacity: 0.3;
                    }

                    .heart-svg {
                        width: 16px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }

            }
        }
    }

    .img-container {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 50% 50%;
        width: 100%;
        max-height: 451px;
        grid-gap: 8px;
        padding: 0;
        overflow: hidden;
        border-radius: 12px;

        .img {
            padding: 0;
            margin: 0;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            cursor: pointer;
            height: 100%;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .img:hover .overlay {
            opacity: 0.15;
        }

        & :first-child {
            grid-column: 1 / span 2;
            grid-row: 1 / span 2;
        }
    }

    .details-container {
        padding-top: 48px;
        display: grid;
        grid-template-columns: 1.45fr 1fr;

        border-bottom: 1px solid #dddddd;
        // gap: 14px;

        .about-host {
            border-bottom: 1px solid rgba(128, 128, 128, .3);
            padding-top: 48px;
            padding-bottom: 24px;

            // height: 100px;
            & img {
                width: 53px;
                height: 53px;
                border-radius: 50px;
                object-fit: cover;
            }

            .host-info {
                h2 {
                    font-size: rem(22px);
                }

                & span {
                    font-size: rem(16px);
                }
            }
        }

        .stay-highlights {
            grid-column: 1;
            padding: 32px 0;
            border-bottom: 1px solid rgba(128, 128, 128, .3);

            .highlight {
                margin-bottom: 24px;
            }
        }

        .amenities {
            grid-column: 1;
            padding-top: 48px;
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid rgba(128, 128, 128, .3);
        }

        .order-container {
            grid-column: 2;
            margin-bottom: 2rem;
            width: 100%;
            position: relative;
        }

    }

    .review-container {
        .reviews-inputs {
            .review-input {
                display: flex;

                .progress-bar-container {
                    background-color: rgb(221, 221, 221);
                    position: relative;
                    border-radius: 0.2em;
                    height: rem(4px);
                    width: 100%;
                    border-radius: rem(2px);

                    .review-input-bar {
                        min-height: 0.2em;
                        position: absolute;
                        max-height: 0.2em;
                        border-radius: 2em;
                        background-color: rgb(34, 34, 34);

                        span {
                            font-size: rem(12px);
                            line-height: 16px;
                            color: rgb(34, 34, 34);
                        }
                    }
                }
            }
        }
    }

    .host-details-container {
        & img {
            width: 53px;
            height: 53px;
            border-radius: 50px;
            object-fit: cover;
        }
    }
}