.stay-list {
    list-style: none;
    @include flex();
    @include clean-list();
    flex-wrap: wrap;

    li {
        background-color: $black-clr1;
        color: $gray-clr-1;
        padding: 5px;
        margin: 5px;
    }

    a {
        color: $main-clr0;
        padding: 10px;
    }

    h3 {
        background-color: #ddd;
        padding: 10px 5px;
        margin: 5px;
    }
}