.stay-details {
    max-width: 1120px;
    margin: auto;

    img {
        aspect-ratio: 1.08 / 1;
        cursor: pointer;
        // height: 100%;
        // width: 100%;
        // object-fit: cover;
    }

    .stay-review {
        flex-direction: column;

        h1 {
            font-size: 26px;
            margin-bottom: 0.35em;
        }

        .info-bar {
            padding: 0;

            .info {
                padding: 0;
                align-items: center;
                justify-content: center;
                gap: 0.5em;

                .review-star {
                    width: 12px;
                }

                .info-review,
                .info-loc {
                    text-decoration: underline;
                }
            }

            .btns {
                align-items: baseline;
                gap: 1em;



                .share-btn {
                    gap: 0.4em;
                    align-items: center;
                    justify-content: center;

                    .share-svg {
                        width: 16px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }

                .save-btn {
                    gap: 0.4em;
                    align-items: center;
                    justify-content: center;

                    .heart-svg {
                        width: 16px;
                    }

                    span {
                        text-decoration: underline;
                    }
                }

            }
        }
    }

    .img-container {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 8px;
        padding: 0;
        overflow: hidden;
        border-radius: 12px;

        .image-container {
            padding: 0;
            margin: 0;
            position: relative;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            cursor: pointer;
            height: 100%;
            background-color: black;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        // .image-container:hover img {
        //     opacity: 0.7;
        // }

        .image-container:hover .overlay {
            opacity: 0.15;
        }


    }

    & :first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;

    }

}