.stay-details {
    margin: auto;
    scroll-margin-top: 25px;

    &.mobile {
        & .stay-overview-container {
            padding-block-start: 24px;
        }

        & .host-details-container .protection-info {
            flex-direction: row-reverse;
        }

        & .things-to-know .rules-container > * {
            padding-block-end: 24px;

            & > * {
                &.inner-title {
                    font-size: rem(22px);
                    line-height: rem(26px);
                }

                &:not(.inner-title) {
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $gray-clr0;
                }
            }

            &:not(:first-child) {
                padding-block-start: 24px;
            }

            &:not(:last-child) {
                border-block-end: $border-bottom;
            }
        }
    }

    &:not(.mobile) {
        & .summary-container {
            display: grid;
            grid-template-columns: 1.4fr 1fr;
            padding-block-start: 48px;
        }

        & .host-details-container .host-details-main {
            display: flex;

            & .host-main-info-container {
                width: 41.6%;
            }

            & .contact-host {
                margin-block-start: 0;
                margin-inline-start: 8.333%;
                padding-inline: 8px;
                width: 41.6%;

                & button {
                    width: fit-content;
                }

                & .protection-info {
                    max-width: 300px;
                }
            }
        }

        & .things-to-know {
            padding-block: 48px;

            & > .title {
                padding-block-end: 24px;
            }

            & .rules-container {
                display: flex;
                gap: 20px;

                & > * {
                    flex: 1;

                    & > * {
                        &:not(:last-child) {
                            margin-block-end: 16px;
                        }
                    }
                }
            }
        }
    }
}
