.stay-details {
    .stay-review {
        flex-direction: column;
        
        .info-bar {
            padding: 0;

            .info {
                padding: 0;
                align-items: center;
                justify-content: center;
                gap: 0.5em;
                
                .review-star {
                    width: 12px;
                }
            }
            
            .btns {
                align-items: baseline;
                // gap: 0.5em;
                
                
                .share-btn {
                    gap: 0.4em;
                    align-items: center;
                    justify-content: center;

                    .share-svg {
                        width: 16px;
                    }
                }
                
                .save-btn {
                    width: 16px;
                    align-items: center;
                    justify-content: center;
                   
                    .heart-svg {
                        width: 16px;
                    }
                }
                
            }
        }
    }

    .img-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-gap: 8px; 
        padding: 0;
        overflow: hidden;
        border-radius: 15px;

        & img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    
    & :first-child {
        grid-column: 1 / span 2; // Spanning columns 1-2
        grid-row: 1 / span 2; // Spanning rows 1-2
    }
    
}