.user-wishlist-page {
    & > h1 {
        padding-block: 30px;
        margin-inline-start: 24px;
        margin-block-end: 40px;
    }

    & > .empty-wishlist {
        & .no-wishlist {
            margin-block-start: 8px;
            margin-block-end: 32px;
        }

        & .explore {
            height: rem(48px);
            width: rem(160px);
            border-radius: rem(8px);
            background-color: $black-clr1;
            color: $gray-clr-1;
            letter-spacing: 0.8px;

            &:hover {
                cursor: pointer;
                background-color: $black-clr2;
            }
        }
    }
}
