.wishlist-container {
    margin-top: 75px;
    letter-spacing: 0px;

    & h1 {
        font-size: rem(32px);
        font-family: Circular-semibold;
        line-height: rem(36px);
        letter-spacing: 0px;
        margin-bottom: 50px;
    }

    & h3 {
        font-size: rem(22px);
        letter-spacing: 0px;
    }

    & p {
        margin-top: 20px;
        margin-bottom: 26px;
    }

    & button {
        height: rem(48px);
        width: rem(160px);
        background-color: $black-clr1;
        color: $gray-clr-1;
        font-size: 16px;
        line-height: rem(20px);
        border-radius: rem(8px);
        letter-spacing: 0.8px;
    }
}