.trips {

    h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 28px;
        letter-spacing: 0.6px;
        font-weight: 800;
        padding-left: 2px;
    }

    .trips-container {

        .reservations-header {
            padding-top: 20px;
            padding-bottom: 24px;
            font-size: 20px;
            letter-spacing: 0.25px;
            font-weight: 800;
            padding-left: 2px;
        }

        .upcoming-reservation {
            display: grid;
            grid-template-columns: 2fr 1fr;
            height: 20vh;
            gap: 48px;
            margin-bottom: 48px;

            .reservation-container {
                display: grid;
                height: 100%;
                grid-template-columns: 1fr 1fr;
                border-radius: 12px;
                overflow: hidden;
                box-shadow: rgba(0, 0, 0, 0.12) -6px 10px 16px;
                position: relative;

                .reservation-img {
                    width: 100%;
                    height: 100%;

                    img {
                        position: absolute;
                        width: 50%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .reservation-info {
                height: 100%;
                display: grid;
                grid-template-rows: 50% 50%;
                padding: 24px;
            }

            .reservation-header {
                border-bottom: 1px solid $gray-clr4;
            }

            .reservation-header :first-child {
                margin-bottom: rem(8px);
                font-weight: 800;
            }

            .reservation-dates {
                height: 100%;
                align-items: flex-start;
                margin-top: 16px;

            }

            .reservation-dates>* {
                align-items: flex-start;
                height: 100%;
            }

            .reservation-date {
                width: 20%;
                border-right: 1px solid $gray-clr4;
                padding-right: 24px;
            }

            .reservation-destination {
                height: 100%;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                padding: 0 24px;
            }

            .reservation-destination :last-child {
                font-size: rem(10px);

            }

            .reservation-confirmation {
                height: 100%;
                border-left: 1px solid $gray-clr4;
                padding-left: 24px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                span {
                    font-family: Circular-semibold;
                }

                h4 {
                    font-size: 16px;
                    padding-top: 8px;
                }
            }
        }

        .explore-things-to-do {
            h5 {
                font-size: 14px;
                letter-spacing: -0.5px;
                font-weight: 600;
            }
        }

        .explore-things-to-do> :first-child {
            height: 10%;
        }

        .things-to-do {
            padding-top: 12px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            height: 90%;
            align-content: space-between;
        }

        .to-do {
            display: flex;

            img {
                height: 46px;
                width: 46px;
                object-fit: cover;
                border-radius: 8px;
                margin-right: 16px;
            }

            .show-more {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 46px;
                width: 46px;
                object-fit: cover;
                border-radius: 8px;
                margin-right: 16px;
                background-color: $gray-clr4;

                svg {}
            }
        }

        .todo-info {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            h4 {
                font-family: Circular-semibold;
            }

            span {
                font-size: 12px;
                color: $gray-clr2;
            }
        }
    }

    .past-trip {
        display: flex;
        margin-top: 24px;
        padding-bottom: 48px;

        .past-trip-img {

            img {
                border-radius: 8px;
                overflow: hidden;
                height: 72px;
                width: 72px;
            }
        }

        .past-trip-info {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-left: 16px;
            padding: 4px 0;

            h4 {
                font-family: Circular-semibold;
                line-height: 1.6;
            }

            span {
                font-size: rem(14px);
                color: $gray-clr2;
            }
        }
    }

    .no-trips {
        padding-top: 32px;
        padding-bottom: 48px;
        border-bottom: 1px solid $gray-clr3;

        h1 {
            padding-top: 36px;
            padding-bottom: 24px;
            font-size: 32px;

            font-weight: 800;
            line-height: 36px;
            border-bottom: 1px solid $gray-clr3;
        }

        .no-trips-header {
            font-weight: 400px;
            font-family: Circular-semibold;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: .0008rem;
        }

        p {
            letter-spacing: 0;
            font-size: 16px;
            line-height: 24px;
            margin-top: 8px;
        }

        button {
            height: rem(48px);
            width: rem(162px);
            border-radius: rem(8px);
            font-size: 16px;
            background-color: inherit;
            letter-spacing: .48px;
            cursor: pointer;
            border-width: 1px;
        }
    }
}
