.filter-expanded-container {
    width: 100%; //new
    justify-items: center; //new
    padding-inline: 40px; //new

    height: 80px;
    display: grid;
    // grid-template-columns: 1fr 850px 1fr;
    grid-template-rows: none;
    // grid-template-columns: repeat(3, 1fr);
    transition: all 0.2s;
    position: absolute;
    background-color: $gray-clr-1;
    box-shadow: $box-shadow2;
    margin-block-start: 80px;

    & .filter-expanded {
        max-width: 850px; //new
        width: 100%; //new

        grid-column: 2;
        display: grid;
        grid-template-columns: minmax(auto, 325.391px) repeat(3, auto); //new (was "grid-template-columns: repeat(4, 1fr);" before)
        align-items: center;

        // height: 64px;
        height: fit-content;
        white-space: nowrap;

        background-color: $gray-clr4;
        border-radius: 32px;
        border: 1px solid $gray-clr3;
        position: relative;

        &.all {
            background-color: $gray-clr-1;
        }

        & > * {
            &.active {
                background-color: $gray-clr-1;
                border-radius: 32px;

                & > * {
                    box-shadow: $box-shadow3;
                    border-radius: 32px;
                    outline: 1px solid white;
                }
            }

            &.where-container.active {
                box-shadow: $box-shadow4;
            }

            &:is(.check-in-container, .check-out-container).active {
                box-shadow: $box-shadow5;
            }

            &.who-container.active {
                box-shadow: $box-shadow6;
            }

            &:not(.who-container, .size-less) > *,
            &.who-container .who-search .who {
                // padding-block: 13.8124px;
                padding-block: 14px;

                &:not(.where) {
                    padding-block: 14px;
                }

                & > * {
                    &:first-child {
                        letter-spacing: 0.48px;
                        padding-block-end: 2px;
                    }

                    &:last-child {
                        font-family: Circular-Regular;
                        color: $gray-clr0;
                        letter-spacing: 0;

                        &:is(span) {
                            display: block;
                        }

                        &:is(input) {
                            background-color: inherit;
                            border: 0;
                            padding: 0;
                            font-family: Circular-Semibold;
                            color: $black-clr1;
                            width: 100%;
                            display: block;

                            &::placeholder {
                                font-family: Circular-Regular;
                            }

                            &:focus-visible {
                                outline: none;
                            }
                        }
                    }
                }
            }

            & .where {
                // padding-inline: 32.52px;
                padding-inline: 32px;

                // & > * {
                //     width: 261.391px;
                // }
            }

            & .check-in {
                padding-inline: 24px;
                // outline: 1px solid transparent;

                // & > * {
                //     width: 81.656px;
                // }
            }
            & .check-out {
                padding-inline-start: 24px;
                padding-inline-end: 24px;

                margin-left: -1.5px;
            }

            & .who-search {
                // width: 262.312px;
                // outline: 1px solid transparent;

                display: flex;
                justify-content: space-between;

                & .who {
                    padding-inline-start: 24px;
                    padding-inline-end: 24px;

                    margin-right: 2.5px;

                    // width: 97.562px;
                    flex: 1 1 auto;
                }

                & .search {
                    display: flex;
                    padding: 0;
                    border: 0;
                    align-items: center;
                    border-radius: 32px;
                    // width: 111.75px;
                    height: 48px;
                    background-color: $main-clr0;
                    // gap: 8px;
                    padding-block: 16px;
                    padding-inline: 16px;
                    margin-block: auto;
                    margin-inline-end: 8px;

                    & > * {
                        color: $gray-clr-1;
                        width: fit-content;

                        // height: 16px;
                        &:first-child {
                            height: 16px;
                        }

                        &:last-child {
                            font-family: Circular-Semibold;
                            padding-inline-start: 8px;
                            padding-inline-end: 4px;
                            // font-size: rem(16px);
                            // margin-top: -0.5px;
                        }
                    }

                    &:hover {
                        cursor: pointer;
                    }
                }

                // & .who,
                // .search {
                //     & > * {
                //         width: 81.656px;
                //     }
                // }
            }

            &:not(.active):hover {
                background-color: $gray-clr3;
                border-radius: 32px;
            }
        }

        & .where-container {
            max-width: 325.391px;
        }

        & .check-in-container,
        & .check-out-container {
            max-width: 131.656px;
            margin-left: 1px;
        }
        & .who-container {
            max-width: 260.312px;
        }

        & .check-in-container,
        & .check-out-container,
        & .who-container {
            position: relative;

            &::before {
                content: "";
                position: absolute;
                // background-color: $gray-clr3;
                height: 32px;
                width: 1px;
                top: 17px;
                left: -3px;
                border-left: 1px solid transparent;
                border-right: 1px solid $gray-clr3;
            }
        }
        & .check-in-container::before {
            border-left-width: 1.5px;
        }

        & .check-out-container::before {
            border-left: 0;
        }

        &:hover {
            cursor: pointer;
        }

        // hover on either element 1 or adjacent element 2, change pseudo element in element 2
        & .where-container.active + .check-in-container::before,
        & .where-container:hover + .check-in-container::before,
        & .check-in-container:hover::before,
        & .check-in-container.active::before {
            // width: 0;
            border-right-color: transparent;
        }

        & .check-in-container.active + .check-out-container::before,
        & .check-in-container:hover + .check-out-container::before,
        & .check-out-container:hover::before,
        & .check-out-container.active::before {
            // width: 0;
            border-right-color: transparent;
        }

        & .check-out-container.active + .who-container::before,
        & .check-out-container:hover + .who-container::before,
        & .who-container:hover::before,
        & .who-container.active::before {
            // width: 0;
            border-right-color: transparent;
        }

        & .size-less {
            height: 0;
            width: 0;

            & .modal {
                position: absolute;
                background-color: $gray-clr-1;
                border-radius: 32px;
                margin-block-start: 44px;
                box-shadow: $box-shadow7;
                padding-inline: 32px;
                padding-block: 16px;
                cursor: default;

                &.where-modal {
                    left: 0;
                    padding-inline: 16px;
                    padding-block-start: 16px;
                    padding-block-end: 32px;
                    width: 478px;
                }

                &:is(.check-in-modal, .check-out-modal) {
                    left: 0;
                    right: 0;
                }

                &.who-modal {
                    right: 0;
                }
            }
        }
    }

    &.folded {
        translate: 0px -73px;
        opacity: 0;
        scale: 48% 82%;
        height: 0;
        pointer-events: none;
    }
}
