.filter-expanded-container {
    width: 100%;
    justify-items: center;
    padding-inline: 40px;

    height: 80px;
    display: grid;
    grid-template-rows: none;
    transition: all 0.2s;
    position: absolute;
    background-color: $gray-clr-1;
    box-shadow: $box-shadow2;
    margin-block-start: 80px;

    & .filter-expanded {
        max-width: 850px;
        width: 100%;

        grid-column: 2;
        display: grid;
        grid-template-columns: minmax(auto, 325.391px) repeat(3, auto);
        align-items: center;

        height: fit-content;
        white-space: nowrap;

        background-color: $gray-clr4;
        border-radius: 32px;
        border: 1px solid $gray-clr3;
        position: relative;

        & :is(.where-container, .check-in-container, .check-out-container, .who-container) {
            &:is(.check-in-container, .check-out-container) {
                margin-left: 1px;
                min-width: 124px;
            }

            &.who-container .who-search .who span{
                min-width: 76px;
            }

            &:not(.where-container)::before {
                content: "";
                position: absolute;
                height: 32px;
                width: 1px;
                top: 17px;
                left: -3px;
                border-left: 1px solid transparent;
                border-right: 1px solid $gray-clr3;
            }

            &.check-in-container::before {
                border-left-width: 1.5px;
            }

            &.check-out-container::before {
                border-left: 0;
            }
        }

        & :is(.where-container, .check-in-container, .check-out-container, .who-container) {
            position: relative;

            & :is(.where, .check-in, .check-out, .who-search) {
                z-index: 1;
                position: relative;

                &:is(.where, .check-in, .check-out),
                &.who-search .who {
                    padding-block: 14px;

                    & > * {
                        &:first-child {
                            letter-spacing: 0.48px;
                            padding-block-end: 2px;
                        }

                        &:last-child {
                            font-family: Circular-Regular;
                            color: $gray-clr0;
                            letter-spacing: 0;

                            &:is(span) {
                                display: block;
                            }

                            &:is(input) {
                                background-color: inherit;
                                border: 0;
                                padding: 0;
                                font-family: Circular-Semibold;
                                color: $black-clr1;
                                width: 100%;
                                display: block;

                                &::placeholder {
                                    font-family: Circular-Regular;
                                }

                                &:focus-visible {
                                    outline: none;
                                }
                            }
                        }
                    }
                }

                &.where {
                    padding-inline: 32px;
                }

                &:is(.check-in, .check-out),
                &.who-search .who {
                    padding-inline: 24px;
                }


                &.check-out {
                    margin-left: -1.5px;
                }

                &.who-search {
                    display: flex;
                    justify-content: space-between;

                    & .who {
                        margin-right: 2.5px;
                        flex: 1 1 auto;
                    }

                    & .btn-search-container {
                        position: relative;
                        margin-block: auto;
                        margin-inline-end: 8px;
                        margin-inline-start: 0px;
                        width: 111.75px;
                        transition:
                            width 0.2s ease-in,
                            margin-inline-start 0.2s ease-in;

                        & .search {
                            display: flex;
                            align-items: center;

                            margin-block: auto;
                            padding: 0;
                            padding-block: 16px;
                            padding-inline: 16px;

                            border: 0;
                            border-radius: 32px;

                            & > * {
                                color: $gray-clr-1;
                                width: fit-content;

                                &:first-child {
                                    height: 16px;
                                }

                                &:last-child {
                                    font-family: Circular-Semibold;
                                    padding-inline-start: 8px;
                                    padding-inline-end: 4px;
                                    font-weight: 400;
                                    max-width: 63.75px;
                                    opacity: 1;
                                    transition:
                                        max-width 0.2s ease-in,
                                        opacity 0.2s;
                                }
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            &::after {
                content: "";
                position: absolute;
                inset: -1px;
                border-radius: 32px;
            }

            &.active {
                border-radius: 32px;

                &::after {
                    background-color: $gray-clr-1;
                    border: 1px solid $gray-clr-1;
                    box-shadow: $box-shadow3;
                }

                &:is(.check-in-container, .check-out-container)::after {
                    right: 0px;
                }

                &.check-out-container::after {
                    left: -2px;
                }
            }

            &:not(.active):hover {
                background-color: $gray-clr3;
                border-radius: 32px;
            }

            &:hover {
                cursor: pointer;
            }
        }

        &.all {
            background-color: $gray-clr-1;

            & .who-container .who-search .btn-search-container {
                width: 48px;
                margin-inline-start: 64px;

                & .search > :last-child {
                    // visibility: hidden;
                    opacity: 0;
                    max-width: 0px;
                }
            }
        }

        & .where-container.active + .check-in-container::before,
        & .where-container:hover + .check-in-container::before,
        & .check-in-container:hover::before,
        & .check-in-container.active::before {
            border-right-color: transparent;
        }

        & .check-in-container.active + .check-out-container::before,
        & .check-in-container:hover + .check-out-container::before,
        & .check-out-container:hover::before,
        & .check-out-container.active::before {
            border-right-color: transparent;
        }

        & .check-out-container.active + .who-container::before,
        & .check-out-container:hover + .who-container::before,
        & .who-container:hover::before,
        & .who-container.active::before {
            border-right-color: transparent;
        }

        & .size-less {
            height: 0;
            width: 0;

            & .modal {
                position: absolute;
                background-color: $gray-clr-1;
                border-radius: 32px;
                margin-block-start: 12px;
                box-shadow: $box-shadow7;
                padding-inline: 32px;
                padding-block: 16px;
                cursor: default;

                &.where-modal {
                    left: 0;
                    padding-inline: 16px;
                    padding-block-start: 16px;
                    padding-block-end: 32px;
                    width: 478px;
                }

                &:is(.check-in-modal, .check-out-modal) {
                    left: 0;
                    right: 0;
                }

                &.who-modal {
                    right: 0;
                }
            }
        }
    }

    &.folded {
        translate: 0px -73px;
        opacity: 0;
        scale: 48% 82%;
        height: 0;
        pointer-events: none;
    }
}
