.header-mobile {
    padding-block-start: 14px;

    p,
    button {
        margin: 0;
        padding: 0;
        border-width: 0px;
        background-color: inherit;
    }

    svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
    }

    & .searchbar-mobile {
        min-height: 56px;
        border-radius: 1000px;
        border: 0.5px solid $transparent-clr6;
        box-shadow: $box-shadow17;

        & .btn-search-mobile {
            width: 100%;

            & .search-img {
                padding-inline-start: 16px;
                padding-inline-end: 20px;
            }

            & .search-description {
                text-align: left;
                flex: 1 1 auto;

                & .upper-description {
                    letter-spacing: normal;
                    line-height: 20px;
                    font-family: Circular-Semibold;
                    font-weight: 400;
                }

                & .lower-description {
                    line-height: 16px;
                    font-family: Circular-Regular;

                    & > * {
                        color: $gray-clr0;
                    }

                    & > :nth-child(2) {
                        padding-inline: 5px;
                    }
                }
            }
        }

        & .btn-main-filter-mobile {
            & .main-filter-img {
                height: 36px;
                width: 36px;
                border: 1px solid $gray-clr3;
                border-radius: 32px;
                margin-inline: 10px;
            }
        }
    }
}
