.header-mobile {
    padding-block-start: 14px;

    p,
    button {
        margin: 0;
        padding: 0;
        border-width: 0px;
        background-color: inherit;
    }

    svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
    }


    & .searchbar-mobile {
        min-height: 56px;
        // border: 1px solid black;
        border-radius: 1000px;
        border: 0.5px solid rgba(0, 0, 0, 0.08);
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

        & .btn-search-mobile {
            width: 100%;

            & .search-img {
                padding-inline-start: 16px;
                padding-inline-end: 20px;
            }

            & .search-description {
                text-align: left;
                flex: 1 1 auto;
            }
        }

        & .btn-main-filter-mobile {
            & .main-filter-img-container {
                & .main-filter-img {
                    height: 36px;
                    width: 36px;
                    border: 1px solid #DDDDDD;
                    border-radius: 32px;
                    margin-inline: 10px;
                }
            }
        }
    }
}