.main-nav-menu {
    justify-self: end;
    position: relative;

    & .nav-menu-button {
        display: flex;
        cursor: pointer;
        position: relative;
        flex-direction: row;
        height: 42px;
        width: 77px;
        border: 1px solid $gray-clr3;
        border-radius: 21px;

        padding: 5px 5px 5px 12px;
        align-items: center;
        transition: box-shadow 0.2s ease;

        & .bars {
            color: $black-clr1;
        }

        & .profile {
            color: $gray-clr0;
            height: 30px;
            width: 30px;
            margin-left: auto;

            & img {
                border-radius: 32px;
            }
        }

        &:hover {
            box-shadow: $box-shadow1;
        }
    }
}
