.searchbar-toggler-container {
    & .searchbar-closed {
        width: 352.203px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        font-size: 14px;
        background-color: inherit;
        padding: 0;
        border: 1px solid $gray-clr3;
        box-shadow: $box-shadow0;
        transition: box-shadow 0.2s ease;
        border-radius: 40px;
        align-items: center;

        &:first-child {
            padding-inline-start: 8px;
        }

        &>* {

            &:not(:last-child) {
                font-size: 14px;
                line-height: 22px;
                padding-inline: 16px;
                white-space: nowrap;
            }

            &:is(:nth-child(1), :nth-child(2)) {
                font-weight: 400;
                font-family: Circular-Semibold;
                color: $black-clr1;
            }

            &:nth-child(2) {
                position: relative;
                margin-inline: 1px;

                &::before {
                    content: '';
                    position: absolute;
                    left: -1px;
                    background-color: $gray-clr3;
                    height: 24px;
                    width: 1px;
                    margin-block-start: -1px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    right: -1px;
                    background-color: $gray-clr3;
                    height: 24px;
                    width: 1px;
                    margin-block-start: -1px;
                }
            }

            &:nth-child(3) {
                font-family: Circular-Regular;
                color: $gray-clr0;
            }
        }

        & .search-circle {
            border-radius: 50%;
            justify-self: end;
            background-color: $main-clr0;
            color: $gray-clr-1;
            padding-inline: 10px;
            padding-block: 10px;
            margin-block: 7px;
            margin-inline-end: 7px;
        }
    }

    & .searchbar-closed:hover {
        box-shadow: $box-shadow1;
        cursor: pointer;
    }

    & .searchbar-open {
        & .experiences-tab {
            display: flex;
            justify-content: center;
            font-size: rem(16px);
            color: $black-clr1;
            padding-block: 11.21px;

            &>* {
                & span {
                    line-height: 20px;
                    letter-spacing: normal;
                    margin-inline: 16px;
                    padding-block: 10px;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        background-color: $black-clr1;
                        height: 2px;
                        width: 100%;
                        bottom: 0;
                        left: 0;

                        transition: transform 0.2s ease;
                        transform: scaleX(0);
                    }

                    &:hover {
                        color: $gray-clr1;

                        &::after {
                            transform: scaleX(1);
                            background-color: $gray-clr1;
                        }
                    }
                }

                &.selected span {
                    &::after {
                        color: $black-clr1;
                        transform: scaleX(1);
                    }

                    &:hover {
                        color: $black-clr1;

                        &::after {
                            background-color: $black-clr1;
                        }
                    }
                }
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}