# Ignore node_modules
node_modules/

# Ignore logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Ignore environment files
.env
.env.dev.live
.env.dev.local
.env.prod.live
.env.prod.local

# Ignore build artifacts or any compiled files (if you use TypeScript or other compilers)
dist/

# Ignore .swc experimental plugin
.swc/

# Ignore local server logs
logs/