.stay-map-container {
    padding-block: 48px;
    border-bottom: $border-bottom;
    scroll-margin-top: 80px;

    & .title {
        padding-block-end: 24px;
    }

    & .location {
        margin-block-end: 24px;
    }

    & .map {
        margin-block-end: 32px;

        & .map-popper {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            background-color: $main-clr0;
            border-radius: 50%;

            & .popper-wedge {
                position: absolute;
                bottom: -4px;
                left: 50%;
                height: 12px;
                width: 12px;
                border-radius: 2px;
                transform: translate(-50%, 0px) rotate(45deg);
                z-index: auto;
                background: $linear-gradient0;
            }

            & svg {
                display: block;
                height: 22px;
                width: 22px;
                color: $gray-clr-1;
            }
        }
    }
}
