.stay-photos-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50% 50%;
    width: 100%;
    max-height: 451px;
    grid-gap: 8px;
    padding: 0;
    overflow: hidden;
    border-radius: 12px;

    .img {
        padding: 0;
        margin: 0;
        position: relative;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        cursor: pointer;
        height: 100%;
        background-color: $black-clr0;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .img:hover .overlay {
        opacity: 0.15;
    }

    & :first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}
