.summary-container {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    padding-block-start: 48px;
    border-bottom: 1px solid $gray-clr3;

    & .summary .date-container {
        padding-block: 48px;
    }

    & .order-sidebar-container {
        grid-column: 2;
        position: relative;
        margin-inline-start: 3rem;
        margin-block-end: 2rem;
    }
}
