.things-to-know {
    padding-block: 48px;

    & > .title {
        padding-block-end: 24px;
    }

    & .rules-container {
        justify-content: flex-start;
        line-break: strict;

        & > * {
            & h4 {
                font-family: Circular-Semibold;
                font-weight: 400;
            }

            & > * {
                margin-block-end: 16px;
            }
        }
    }

    .rules-container > * {
        width: 33.3333%;
    }
}
