.stay-title-container {
    padding-block: 24px;

    & .info-container {
        margin-block-start: 10px;

        & .info > * {
            white-space: nowrap;

            &.score-container .score::after {
                content: "·";
                margin-inline-end: 4px;
            }

            &:not(:first-child)::before {
                content: "·";
                margin-inline: 8px;
                color: $gray-clr0;
            }
        }
    }
}
