.host-details-container {
    padding: 48px 0;
    border-bottom: $border-bottom;

    & .host-details-header {
        gap: 16px;
        margin-block-end: 24px;

        & img {
            height: 64px;
            width: 64px;
            border-radius: 50px;
        }

        & .host-intro-info {
            & .host-name {
                padding-block-end: 8px;
            }

            & .host-join-date {
                color: $gray-clr0;
            }
        }
    }

    & .host-details-main {
        flex-wrap: wrap;

        & .host-main-info-container {
            width: 41.6%;

            & .host-tags {
                margin-block-end: 12px;
                margin-inline-start: -12px;

                & > * {
                    margin-block-end: 12px;
                    padding-inline: 12px;

                    & > :first-child {
                        margin-inline-end: 4px;
                    }

                    & > :last-child {
                        margin-inline-start: 8px;
                    }

                    &.reviews-count > :last-child,
                    &:not(.reviews-count) > :last-child::first-letter {
                        text-transform: capitalize;
                    }
                }
            }

            & .host-main-info {
                & > *:not(:last-child) {
                    margin-block-end: 24px;
                }

                & h4 {
                    margin-block-end: 8px;
                    letter-spacing: 0;
                }

                & p {
                    margin: 0;
                }
            }
        }

        & .contact-host {
            width: 41.6%;
            margin-left: 8.333%;
            padding-inline: 8px;

            & .host-response-info > * {
                margin-block-end: 16px;
            }

            & button {
                width: fit-content;
                margin: 24px 0;
                padding: 13px 23px;
                border: 1px solid $black-clr1;
                border-radius: 8px;
                background-color: $gray-clr-1;

                &:hover {
                    cursor: pointer;
                    background-color: $gray-clr5;
                }
            }

            & .protection-info {
                max-width: 300px;

                & img {
                    height: 24px;
                    width: 24px;
                    margin-inline-end: 16px;
                }
            }
        }
    }
}
