.stay-details-nav-reserve-sticky-container {
    position: fixed;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 10;
    background-color: $gray-clr-1;

    & .stay-info {
        margin-inline-end: 16px;

        & .price :first-child::after {
            content: " ";
            white-space: break-spaces;
        }

        & .score {
            margin-block-start: 4px;

            & .star svg {
                max-width: 10px;
                max-height: 10px;
            }

            & .review-rate {
                padding-inline-start: 4px;

                &::after {
                    content: " ·";
                    white-space: nowrap;
                }
            }

            & .review-count {
                margin-inline-start: 4px;
                color: $gray-clr0;
                white-space: nowrap;
            }
        }
    }
}
