.stay-details-mobile-return-header {
    @include clean-button;
    height: 64px;

    & .return {
        & svg {
            min-width: 16px;
            min-height: 16px;
        }

        & button:hover h2 {
            text-decoration: underline;
        }
    }

    & .like-share {
        & svg {
            display: block;
            position: relative;
        }

        & button {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 32px;
                height: 32px;
                border-radius: 50%;
            }

            &:hover::before {
                background: $gray-clr5;
            }

            &.share:hover {
                cursor: not-allowed;
            }
        }
    }
}
