.stay-reviews-container {
    padding-block-start: 48px;

    & .review-title {
        margin-block-end: 25px;
        font-family: cereal-std;
        font-weight: 600;

        & span {
            margin-inline-start: 10px;
        }
    }

    & .review-average-score-list {
        display: grid;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        gap: 10px;

        & .review-average-score-item {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding-inline-end: 17.5%;
            letter-spacing: 0;

            & .review-item-score {
                & .score-bar-container {
                    position: relative;
                    height: rem(4px);
                    width: 50%;
                    margin-block-end: 6px;
                    background-color: $gray-clr3;
                    border-radius: 0.2em;
                    border-radius: rem(2px);

                    & .score-bar {
                        display: inline;
                        position: absolute;
                        min-height: 0.2em;
                        max-height: rem(4px);
                        border-radius: 2em;
                        background-color: $black-clr1;
                    }
                }

                & .score-average {
                    margin-inline-start: 8px;
                    font-family: cereal-bold;
                    color: $black-clr1;
                }
            }
        }
    }
}
