.reviews-container {
    flex-basis: 50%;
    padding-top: 48px;

    img {
        width: 40px;
        height: 40px;
        border-radius: 50px;
        object-fit: cover;
    }

    .review-title {
        font-family: cereal-std;
        font-weight: 600;
        margin-bottom: 25px;

        span {
            margin-left: 10px;
        }
    }

    .mini-user {
        gap: rem(10px);
        margin-bottom: 12px;
        align-items: flex-end;

        span {
            color: $gray-clr0;
        }
    }

    .reviews-inputs {
        display: grid;
        gap: 10px;
        grid-template: repeat(4, 1fr) / repeat(2, 1fr);
        font-size: rem(16px);

        .review-input {
            padding-right: 17.5%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            letter-spacing: 0;

            .review-rate {
                justify-content: flex-end;

                .progress-bar-container {
                    background-color: rgb(221, 221, 221);
                    position: relative;
                    border-radius: 0.2em;
                    height: rem(4px);
                    width: 50%;
                    border-radius: rem(2px);
                    margin-right: 6px;

                    .review-input-bar {
                        display: inline;
                        min-height: 0.2em;
                        position: absolute;
                        max-height: rem(4px);
                        border-radius: 2em;
                        background-color: rgb(34, 34, 34);
                    }
                }

                span {
                    font-family: cereal-bold;
                    color: rgb(34, 34, 34);
                    margin-left: 8px;
                }
            }
        }
    }
}