.things-to-know {
    padding-block-start: 24px;
    margin-block-end: 80px; // temporary until footer sorted out

    & .rules-container > * > *:not(:last-child) {
        margin-block-end: 8px;
    }
}
