.stay-reviews-container {
    padding-block: 48px;
    border-block-end: $border-bottom;

    & .review-title {
        margin-block-end: 32px;

        & .review-average-amount {
            margin-inline-start: 8px;
        }
    }

    & .review-average-score-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 8px;
        margin-inline-end: -8px;
        margin-block-end: 24px;

        & .review-average-score-item {
            margin-inline-end: 18.333%;
            margin-block-end: 16px;

            & .review-input-key {
                white-space: nowrap;
                width: 100%;
                text-transform: capitalize;
            }

            & .review-item-score {
                width: 50%;
                margin-inline-start: 12px;

                & .score-bar-container {
                    height: rem(4px);
                    width: 100%;
                    background-color: $gray-clr3;
                    border-radius: rem(2px);
                    overflow: hidden;
                    margin-inline-end: 4px;

                    & .score-bar {
                        height: 100%;
                        background-color: $black-clr1;
                    }
                }

                & .score-average {
                    margin-inline-start: 6px;
                }
            }
        }
    }
}
