.category-score-preview {
    margin-inline-end: 18.333%;
    margin-block-end: 16px;

    & .category-name {
        width: 70%;
        white-space: nowrap;
        text-transform: capitalize;
    }

    & .category-score {
        width: 70%;
        margin-inline-start: 12px;

        & .score-bar-container {
            height: 4px;
            width: 100%;
            margin-inline-end: 4px;
            border-radius: 2px;
            overflow: hidden;
            background-color: $gray-clr3;

            & .score-bar {
                height: 100%;
                background-color: $black-clr1;
            }
        }

        & .score-average {
            margin-inline-start: 6px;
        }
    }
}
