.stay-review-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(500px, 1fr));
    gap: 40px;
    padding-block: 40px;
    border-block-end: $border-bottom;

    & .review-container {
        & .mini-user {
            gap: rem(10px);
            align-items: flex-end;
            margin-block-end: 12px;

            & span {
                color: $gray-clr0;
            }

            & img {
                width: 40px;
                height: 40px;
                border-radius: 50px;
                object-fit: cover;
            }
        }

        & .review-content-container {
            margin-inline-end: 8.333%;

            & button {
                display: inline-block;
                padding: 10px 20px 10px 0px;
                border: none;
                text-align: center;
                text-decoration: none;
                background-color: inherit;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
