* {
    box-sizing: border-box;
}

::selection {
    background-color: $clr6;
    color: $clr4;
}

html {
    font-family: cereal-std;
    line-height: 1.6;
    letter-spacing: 0.0225rem;
    color: $black-clr1;
    scroll-behavior: smooth;
}

body {
    font-size: rem(14px);
    color: $black-clr1;
    margin: 0;

    // margin-right: 17px;// FOR MAIN SCROLL BAR
}

.app {
    min-height: 100vh;
    background-color: #ffffff;
    position: relative;
}

ul {
    padding: unset;
    margin: unset;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: cereal-std;
    font-weight: 600;
    letter-spacing: 0.0225rem;
    color: $black-clr1;
    margin: 0;
    line-height: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    color: $black-clr1;
    margin: 0 0 1em;
}

a {
    font-family: cereal-std;
    font-weight: 600;
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.loading {
    text-align: center;
    height: 500px;
}

.uppertext {
    text-transform: uppercase;
}