* {
    box-sizing: border-box;
}

::selection {
    // background-color: $gray-clr-1;
    // color: $transparent-clr0;
}

html {
    font-family: Circular-Regular;
    line-height: 1.6;
    color: $black-clr1;
    scroll-behavior: smooth;
}

body {
    font-size: rem(14px);
    color: $black-clr1;
    margin: 0;
}

.app {
    min-height: 100vh;
    background-color: $gray-clr-1;
    position: relative;
}

ul {
    padding: unset;
    margin: unset;
}

li {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Circular-Semibold;
    font-weight: 400;
    color: $black-clr1;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p {
    color: $black-clr1;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}
