// ************* Font Sizes *************
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs16 {
    font-size: rem(16px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs22 {
    font-size: rem(22px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// **************************************
// ************* Line Heights *************
.lh18 {
    line-height: rem(18px);
}
.lh20 {
    line-height: rem(20px);
}

// ****************************************
// ************* Flex Helpers *************
.flex {
    display: flex;

    > *.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-evenly {
        justify-content: space-evenly;
    }

    &.align-center {
        align-items: center;
    }

    &.align-baseline {
        align-items: baseline;
    }
}

// ****************************************
// ****************************************
.min-width-56px {
    min-width: 56px;
}

.width-100-percent {
    width: 100%;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.underline {
    text-decoration: underline;
}

.uppertext {
    text-transform: uppercase;
}
