// ************* Font Sizes *************
.fs10 {
    font-size: rem(10px);
}
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs15 {
    font-size: rem(15px);
}
.fs16 {
    font-size: rem(16px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs22 {
    font-size: rem(22px);
}
.fs24 {
    font-size: rem(24px);
}
.fs26 {
    font-size: rem(26px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// **************************************
// ************ Line Heights ************
.lh12 {
    line-height: rem(12px);
}
.lh14 {
    line-height: rem(14px);
}
.lh16 {
    line-height: rem(16px);
}
.lh18 {
    line-height: rem(18px);
}
.lh19 {
    line-height: rem(19px);
}
.lh20 {
    line-height: rem(20px);
}
.lh22 {
    line-height: rem(22px);
}
.lh24 {
    line-height: rem(24px);
}
.lh26 {
    line-height: rem(26px);
}

// **************************************
// ************* FontFamily *************
.ff-circular-regular {
    font-family: Circular-Regular;
    font-weight: 400;
}
.ff-circular-semibold {
    font-family: Circular-Semibold;
    font-weight: 400;
}
.ff-circular-bold {
    font-family: Circular-Bold;
    font-weight: 400;
}

// **************************************
// ************ Flex Helpers ************
.flex {
    display: flex;
    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-start {
        justify-content: start;
    }
    &.justify-center {
        justify-content: center;
    }
    &.justify-end {
        justify-content: end;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.space-evenly {
        justify-content: space-evenly;
    }
    &.align-center {
        align-items: center;
    }
    &.align-end {
        align-items: end;
    }
    &.align-baseline {
        align-items: baseline;
    }
    &.flex-wrap {
        flex-wrap: wrap;
    }
}

.flex,
.grid {
    &.gap2 {
        gap: 2px;
    }
    &.gap4 {
        gap: 4px;
    }
    &.gap8 {
        gap: 8px;
    }
    &.gap10 {
        gap: 10px;
    }
    &.gap16 {
        gap: 16px;
    }
    &.gap20 {
        gap: 20px;
    }
}

// **************************************
// ***** Text Transform/Decorations *****
.underline {
    text-decoration: underline;
}
.uppertext {
    text-transform: uppercase;
}
.capitalize::first-letter {
    text-transform: capitalize;
}

// **************************************
// **************************************

.min-width-56px {
    min-width: 56px;
}

.width-100-percent {
    width: 100%;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}
