.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    .line-header {
        opacity: 0.3;
        margin: 0;
        padding: 0;
    }

    // less than 760px
    // @include for-mobile-layout {
    @media (max-width: calc($mobile-breakpoint  + 40px)) {
        grid-template-columns: 0 1fr 0;

        & .app-main {
            padding:0 15px;

        }
    }
    // less than 750px
    // @include for-mobile-layout {
    @media (min-width: calc($mobile-breakpoint + 40px)) {
        grid-template-columns: 0 1fr 0;

        & .app-main {
            padding-inline: 40px;

            .filter-container {

                & .search-navbar {
                    // width: 1000px;
                    background-color: blue;
                }
            }
        }
    }

    // more than 750px
    @include for-normal-layout {
        grid-template-columns: 40px 1fr 40px;

        & .app-main {

            // & .filter-container {
            // display: flex;
            // justify-content: center;

            // & .search-navbar {
            //     width: 350px;
            // }
            // }
        }
    }

    // more than 1450px
    @include for-wide-layout {
        grid-template-columns: 80px 1fr 80px;

        & .app-main {

            // & .filter-container {
            // display: flex;
            // justify-content: center;

            // & .search-navbar {
            //     width: 350px;

            // }
            // }
        }
    }
}

.details-layout {
    // background-color: bisque;
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1120px) 1fr;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}

// .card-grid {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//     grid-gap: 20px;
// }