.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    .line-header {
        opacity: 0.3;
        margin: 0;
        padding: 0;
    }
}

.details-layout {
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1120px) 1fr;

    > * {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }
}
