.main-layout {
    display: grid;
    grid-template-rows: auto 1fr auto;

    >* {
        grid-column: 2;

        &.full {
            grid-column: 1 /-1;
        }
    }

    .line-header {
        opacity: 0.3;
        margin: 0;
        padding: 0;
    }

    // less than 750px
    @include for-mobile-layout {
        grid-template-columns: 0 1fr 0;

        & .app-main {
            padding-inline: 40px;

            .search-navbar-container {

                & .search-navbar {
                    // width: 1000px;
                    background-color: blue;
                }
            }
        }
    }

    // more than 750px
    @include for-normal-layout {
        grid-template-columns: 40px 1fr 40px;

        & .app-main {

            // & .search-navbar-container {
            // display: flex;
            // justify-content: center;

            // & .search-navbar {
            //     width: 350px;
            // }
            // }
        }
    }

    // more than 1450px
    @include for-wide-layout {
        grid-template-columns: 80px 1fr 80px;

        & .app-main {

            // & .search-navbar-container {
            // display: flex;
            // justify-content: center;

            // & .search-navbar {
            //     width: 350px;

            // }
            // }
        }
    }
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}