.stay-preview {
    position: relative;

    & .heart-svg {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    & .preview-info {
        & .review-score span {
            margin-inline-start: 4px;
        }

        & :is(.type-or-distance, .date-range) {
            color: $gray-clr0;
        }

        & .price-preview {
            margin-block-start: 6px;
        }
    }

    &:hover {
        cursor: pointer;

        & .custom-arrow {
            opacity: 1;
        }
    }
}
