.order-sidebar .order .cost-and-review-score {
    margin-block-end: 24px;
    flex-wrap: wrap;
    column-gap: 8px;

    & .cost :last-child::before {
        content: " ";
        white-space: pre;
    }

    & .review-score {
        margin-block-start: 8px;

        & :not(:first-child) {
            padding-inline-start: 4px;
        }

        & svg {
            max-height: 12px;
            max-width: 12px;
        }

        & .score::after {
            content: " ·";
            white-space: pre;
        }

        & .amount {
            color: $gray-clr0;
            white-space: nowrap;
        }
    }
}
