.btn-main-container {
    & .btn-main {
        width: 100%;
        position: relative;
        padding: 0 0;
        padding-block: 0;
        padding-inline: 0;
        margin: 0 0;
        border: none;
        font-family: sans-serif;

        & .content {
            padding: 0 0;
            margin: 0 0;
            color: $gray-clr-1;

            & span {
                display: block;
                font-weight: 600;
            }
        }

        & span.text {
            display: block;
            font-weight: 600;
            color: $gray-clr-1;
            font-size: 16px;
            line-height: 20px;
            padding-inline: 24px;
            padding-block: 14px;
        }

        & .cell-container {
            position: absolute;
            inset: 0;
            display: grid;
            grid-template: repeat(10, 1fr) / repeat(10, 1fr);

            & .cell {
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }

        &:hover {
            cursor: pointer;
        }
    }
}
