.stay-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(272px, 1fr));
    // grid-auto-rows: minmax(358px, auto);
    // grid-gap: 20px;
    column-gap: 24px;
    row-gap: 45px;
    margin-block-start: 24px;
    border-radius: 12px;
}
