.amenity-list-container {
    padding-block-start: 50px;
    padding-block-end: 50px;
    border-bottom: $border-bottom;
    scroll-margin-top: 80px;

    & > .title {
        padding-block-end: 24px;
    }

    & .amenity-list .amenity-preview {
        padding-block-end: 16px;
    }
}
