.highlight-list {
    padding-block: 32px;
    border-bottom: $border-bottom;
    gap: 24px;

    & .highlight-preview {
        gap: 24px;

        & .highlight-description {
            & .title {
                margin-block-end: 4px;
            }

            & .content {
                color: $gray-clr0;
            }
        }
    }
}
