.highlight-list {
    padding-block: 32px;
    border-bottom: $border-bottom;

    & .highlight-preview .highlight-description {
        & .title {
            margin-block-end: 4px;
        }

        & .content {
            color: $gray-clr0;
        }
    }
}
