.order-sidebar-improved {
    margin-inline-start: 8.333333333333332%;

    & .order-block,
    & .order-special-info {
        padding-block: 24px;
        padding-inline: 24px;
        border: 1px solid $gray-clr3;
        border-radius: 12px;
    }

    & .order-block {
        box-shadow: $box-shadow9;

        & .order {
            & .price-and-review-score {
                margin-block-end: 24px;
                flex-wrap: wrap;
                column-gap: 8px;

                & .price :last-child::before {
                    content: " ";
                    white-space: pre;
                }

                & .review-score {
                    margin-block-start: 8px;

                    & :not(:first-child) {
                        padding-inline-start: 4px;
                    }

                    & svg {
                        max-height: 12px;
                        max-width: 12px;
                    }

                    & .score::after {
                        content: " ·";
                        white-space: pre;
                    }

                    & .amount {
                        color: $gray-clr0;
                        white-space: nowrap;
                    }
                }
            }

            & .dates-and-guests {
                border: 1px solid $gray-clr2;
                border-radius: 8px;
                margin-bottom: 16px;

                & :is(.dates-container, .guests-container) {
                    & :is(.check-in, .check-out, .guests) {
                        position: relative;
                        flex: 1 1 0%;

                        & :first-child {
                            top: 12px;
                            left: 12px;
                            right: 12px;
                            position: absolute;
                            text-transform: uppercase;
                        }
                        & :last-child {
                            padding-block: 26px 10px;
                            padding-inline: 12px;
                            min-height: 56px;
                            display: block;
                        }
                    }
                }

                & .dates-container {
                    border-bottom: 1px solid $gray-clr2;
                    & .check-out {
                        border-left: 1px solid $gray-clr2;
                    }
                }

                // & .guests-container {
                // }
            }
        }

        & .assurance,
        & .assurance span {
            margin-block-start: 8px;
        }

        // & .pricing {
        // }
    }

    & .order-special-info {
        margin-block-start: 24px;
        & .info-container > * {
            margin-inline-end: 8px;
        }
    }
}
