.order-sidebar-improved {
    margin-inline-start: 8.333333333333332%;

    & .order-block,
    & .order-special-info {
        padding-block: 24px;
        padding-inline: 24px;
        border: 1px solid $gray-clr3;
        border-radius: 12px;
    }

    & .order-block {
        box-shadow: $box-shadow9;

        & .order {
            & .price-and-review-score {
                margin-block-end: 24px;
                flex-wrap: wrap;
                column-gap: 8px;

                & .price :last-child::before {
                    content: " ";
                    white-space: pre;
                }

                & .review-score {
                    margin-block-start: 8px;

                    & :not(:first-child) {
                        padding-inline-start: 4px;
                    }

                    & svg {
                        max-height: 12px;
                        max-width: 12px;
                    }

                    & .score::after {
                        content: " ·";
                        white-space: pre;
                    }

                    & .amount {
                        color: $gray-clr0;
                        white-space: nowrap;
                    }
                }
            }
        }

        & .assurance,
        & .assurance span {
            margin-block-start: 8px;
        }

        // & .pricing {
        // }
    }

    & .order-special-info {
        margin-block-start: 24px;
        & .info-container > * {
            margin-inline-end: 8px;
        }
    }
}
