.order-sidebar-improved {
    margin-inline-start: 8.333333333333332%;

    & :is(.order-block, .special-info) {
        padding-block: 24px;
        padding-inline: 24px;
        border: 1px solid $gray-clr3;
        border-radius: 12px;
    }

    & .order-block {
        box-shadow: $box-shadow9;

        & .assurance,
        & .assurance span {
            margin-block-start: 8px;
        }
    }
}
