.future-reservation-list {
    border-block-end: 1px solid $gray-clr3;

    & .no-trips {
        padding-block-start: 24px;
        padding-block-end: 48px;

        & .no-trips-header {
            letter-spacing: 0.0008rem;
        }

        & p {
            margin-block-start: 8px;
        }

        & button {
            background-color: inherit;
            border: 1px solid $black-clr1;
            border-radius: 8px;
            padding-inline: 23px;
            padding-block: 13px;

            &:hover {
                cursor: pointer;
                background-color: $gray-clr4;
            }
        }
    }

    & .upcoming-reservation-preview {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 48px;
        margin-block-end: 48px;

        &.mobile {
            grid-template-columns: 1fr;
            & .reservation-container {
                grid-auto-rows: 300px minmax(150px, 200px);
                & .reservation-info {
                    grid-row: 2;
                }
                & .reservation-img {
                    grid-row: 1;
                }
            }
        }

        & .reservation-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: minmax(150px, 200px) 300px;

            border-radius: 12px;
            box-shadow: $box-shadow10;
            overflow: hidden;

            & .reservation-info {
                display: grid;
                grid-template-rows: 1fr 1fr;
                padding: 24px;

                & .reservation-header {
                    border-bottom: 1px solid $gray-clr4;

                    & :first-child {
                        margin-block-end: rem(8px);
                    }
                }

                & .reservation-date-destination-status {
                    padding-block-start: 16px;
                    gap: 10px;
                    & > * {
                        flex: 1 1 100%;
                    }

                    & .reservation-date {
                        white-space: nowrap;
                    }

                    & .reservation-destination {
                        border-right: 1px solid $gray-clr4;
                        border-left: 1px solid $gray-clr4;
                        padding-inline: 10px;
                    }

                    & .reservation-confirmation {
                        & .status {
                            padding-block-start: 8px;

                            &.approved {
                                color: $positive-clr0;
                            }

                            &.pending {
                                color: $pending-clr0;
                            }

                            &.rejected {
                                color: $negative-clr0;
                            }
                        }
                    }
                }
            }
        }

        // & .reservation-container {
        //     display: grid;
        //     height: 100%;
        //     grid-template-columns: 1fr 1fr;
        //     border-radius: 12px;
        //     overflow: hidden;
        //     box-shadow: $box-shadow10;
        //     position: relative;

        //     & .reservation-info {
        //         height: auto;
        //         display: grid;
        //         grid-template-rows: 50% 50%;
        //         padding: 24px;

        //         & .reservation-header {
        //             border-bottom: 1px solid $gray-clr4;

        //             & :first-child {
        //                 margin-block-end: rem(8px);
        //             }
        //         }

        //         & .reservation-dates {
        //             height: 100%;
        //             align-items: flex-start;
        //             margin-block-start: 16px;

        //             & > * {
        //                 align-items: flex-start;
        //                 height: 100%;
        //                 flex: 1;
        //             }

        //             & .reservation-date {
        //                 width: 20%;
        //                 border-right: 1px solid $gray-clr4;
        //                 padding-block-end: 24px;
        //             }

        //             & .reservation-destination {
        //                 height: 100%;
        //                 flex-direction: column;
        //                 align-items: flex-start;
        //                 justify-content: space-around;
        //                 padding-inline: 24px;
        //             }

        //             & .reservation-confirmation {
        //                 height: 100%;
        //                 border-left: 1px solid $gray-clr4;
        //                 padding-inline-start: 24px;
        //                 display: flex;
        //                 flex-direction: column;
        //                 justify-content: flex-start;

        //                 & .status {
        //                     padding-block-start: 8px;

        //                     &.approved {
        //                         color: $positive-clr0;
        //                     }

        //                     &.pending {
        //                         color: $pending-clr0;
        //                     }

        //                     &.rejected {
        //                         color: $negative-clr0;
        //                     }
        //                 }
        //             }
        //         }
        //     }

        //     & .reservation-img {
        //         width: 100%;
        //         height: 100%;

        //         & img {
        //             position: absolute;
        //             width: 50%;
        //             height: 100%;
        //             object-fit: cover;
        //         }
        //     }
        // }

        & .explore-things-to-do {
            margin-block: auto;

            & .explore-title {
                letter-spacing: -0.5px;
            }

            & .things-to-do {
                padding-block-start: 12px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                // height: 90%;
                align-content: space-between;

                & .to-do {
                    display: flex;

                    & img {
                        height: 46px;
                        width: 46px;
                        object-fit: cover;
                        border-radius: 8px;
                        margin-inline-end: 16px;
                    }

                    & .show-more {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 46px;
                        width: 46px;
                        object-fit: cover;
                        border-radius: 8px;
                        margin-inline-end: 16px;
                        background-color: $gray-clr4;
                    }

                    & .todo-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;

                        & > * {
                            white-space: nowrap;
                        }

                        & h4 {
                            font-family: Circular-semibold;
                        }

                        & span {
                            font-size: 12px;
                            color: $gray-clr2;
                        }
                    }
                }
            }
        }
    }
}
