.past-reservation-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
    padding-block-end: 24px;

    & .past-trip {
        gap: 10px;
        & .past-trip-img {
            border-radius: 8px;
            height: 72px;
            width: 72px;
            overflow: hidden;
        }

        & .past-trip-info {
            & span {
                font-size: rem(14px);
                color: $gray-clr2;
                line-height: normal;
            }
        }
    }
}
