@include for-extra-small-layout {
    .main-layout {
        grid-template-columns: 24px minmax(300px, 1fr) 24px;
    }
    .details-layout {
        grid-template-columns: 0 1fr 0;
    }
}

@include for-small-layout {
    .main-layout {
        grid-template-columns: 40px 1fr 40px;
    }
    .details-layout {
        grid-template-columns: 40px minmax(auto, 1120px) 40px;
    }
}

@include for-medium-layout {
    .details-layout {
        grid-template-columns: 80px minmax(auto, 1120px) 80px;
    }
}

@include for-large-layout {
    .details-layout {
        grid-template-columns: minmax(80px, 1fr) 1120px minmax(80px, 1fr);
    }
}

@include for-extra-large-layout {
    .main-layout {
        grid-template-columns: 80px 1fr 80px;
    }
}
