@include for-extra-small-layout {
    .main-layout {
        grid-template-columns: 24px minmax(300px, 1fr) 24px;
    }

    .details-layout {
        grid-template-columns: 24px 1fr 24px;
    }

    .stay-details {
        & .stay-details-nav-reserve-sticky-container {
            bottom: 0;
            box-shadow: $box-shadow21;

            & .reserve-container {
                width: 100%;
            }
        }

        & .stay-details-mobile-return-header {
            @include clean-button;
            height: 64px;

            & .return {
                & svg {
                    min-width: 16px;
                    min-height: 16px;
                }

                & button:hover h2 {
                    text-decoration: underline;
                }
            }

            & .like-share {
                & svg {
                    display: block;
                    position: relative;
                }

                & button {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                    }

                    &:hover::before {
                        background: $gray-clr5;
                    }

                    &.share:hover {
                        cursor: not-allowed;
                    }
                }
            }
        }

        & .stay-photos-container {
            position: sticky;
            width: 100%;
            left: 0;
        }

        & .stay-title-container {
            border-block-end: $border-bottom;
        }

        & .stay-overview-container {
            padding-block-start: 24px;
        }

        & .things-to-know .rules-container > * {
            padding-block-end: 24px;

            & > * {
                &.inner-title {
                    font-size: rem(22px);
                    line-height: rem(26px);
                }

                &:not(.inner-title) {
                    font-size: rem(14px);
                    line-height: rem(20px);
                    color: $gray-clr0;
                }
            }

            &:not(:first-child) {
                padding-block-start: 24px;
            }

            &:not(:last-child) {
                border-block-end: $border-bottom;
            }
        }
    }
}

@include for-small-layout {
    .main-layout {
        grid-template-columns: 40px 1fr 40px;
    }

    .details-layout {
        grid-template-columns: 40px minmax(auto, 1120px) 40px;
        grid-template-rows: auto 1fr auto;
    }

    .stay-details {
        & .stay-details-nav-reserve-sticky-container {
            top: 0;
            box-shadow: $box-shadow20;

            & .links-container > * {
                position: relative;
                margin-inline-start: 24px;
                padding-block: 30px;
                text-decoration: none;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    opacity: 0;
                    background-color: $black-clr1;
                    transition: opacity 0.15s ease 0s;
                }

                &:hover::after {
                    opacity: 1;
                }
            }
        }

        & .stay-photos-title-container {
            display: flex;
            flex-direction: column-reverse;
        }

        & .stay-title-container .action-buttons > * {
            position: relative;

            & .overlay {
                position: absolute;
                inset: -10%;
                background-color: $gray-clr6;
                opacity: 0;
                transition: opacity 0.3s ease;
                border-radius: 6px;
            }

            &:hover {
                cursor: pointer;

                & .overlay {
                    opacity: 0.3;
                }
            }

            &.share:hover {
                cursor: not-allowed;
            }
        }

        & .stay-photos-container {
            grid-template-columns: repeat(4, 1fr);
            border-radius: 12px;
            overflow: hidden;
            gap: 8px;

            & .photo-preview:first-child {
                grid-column: 1 / span 2;
                grid-row: 1 / span 2;
            }
        }

        & .summary-container {
            display: flex;
            padding-block-start: 48px;

            & .summary {
                width: 58.3333%;
            }
        }

        & .order-sidebar-container {
            position: relative;
            width: 33.3333%;
            margin-inline-start: 8.333333333333332%;

            & .order-sidebar {
                position: sticky;
                top: 130px;
                padding-block-end: 48px;

                & :is(.order-block, .special-info) {
                    padding: 24px;
                    border: 1px solid $gray-clr3;
                    border-radius: 12px;
                }

                & .order-block {
                    box-shadow: $box-shadow9;

                    & .order {
                        & .cost-and-review-score {
                            margin-block-end: 24px;

                            & .cost :last-child::before {
                                content: " ";
                                white-space: pre;
                            }

                            & .review-score {
                                margin-block-start: 8px;

                                & :not(:first-child) {
                                    padding-inline-start: 4px;
                                }

                                & svg {
                                    max-height: 12px;
                                    max-width: 12px;
                                }

                                & .score::after {
                                    content: " ·";
                                    white-space: pre;
                                }

                                & .amount {
                                    color: $gray-clr0;
                                    white-space: nowrap;
                                }
                            }
                        }

                        & .dates-and-guests {
                            margin-block-end: 16px;

                            & :is(.dates-container, .guests-container) {
                                position: relative;

                                & :is(.dates-container-border, .guests-container-border) {
                                    position: absolute;
                                    width: 100%;
                                    border: 2px solid transparent;
                                    border-radius: 8px;
                                }

                                & :is(.dates, .guests) {
                                    border-left: 1px solid $gray-clr2;
                                    border-right: 1px solid $gray-clr2;

                                    & :is(.check-in, .check-out, .guest-block) {
                                        position: relative;

                                        & :first-child {
                                            position: absolute;
                                            top: 12px;
                                            left: 12px;
                                            right: 12px;
                                        }

                                        & :last-child {
                                            display: block;
                                            min-height: 56px;
                                            padding-block: 26px 10px;
                                            padding-inline: 12px;
                                        }
                                    }
                                }
                            }

                            & .dates-container {
                                & .dates-container-border {
                                    height: 100%;
                                }

                                & .dates {
                                    border-top: 1px solid $gray-clr2;
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;

                                    & :is(.check-in, .check-out) {
                                        border-bottom: 1px solid $gray-clr2;
                                        overflow: hidden;

                                        & .empty {
                                            color: $gray-clr0;
                                        }
                                    }
                                }

                                & .check-out {
                                    border-left: 1px solid $gray-clr2;
                                }
                            }

                            & .guests-container {
                                & .guests-container-border {
                                    top: -2%;
                                    height: 102%;
                                }

                                & .guests {
                                    border-bottom: 1px solid $gray-clr2;
                                    border-bottom-left-radius: 8px;
                                    border-bottom-right-radius: 8px;
                                }
                            }

                            &
                                :is(.dates-container, .guests-container):hover
                                :is(.guests-container-border, .dates-container-border) {
                                border-color: $black-clr0;
                                z-index: 1;
                            }

                            &:hover {
                                cursor: no-drop;

                                & .dates-container :is(.check-in, .check-out) {
                                    border-bottom-color: transparent;
                                }
                            }
                        }
                    }

                    & .assurance,
                    & .assurance span {
                        margin-block-start: 8px;
                    }

                    & .pricing {
                        & .individual-fees {
                            margin-block-start: 24px;

                            & > *:not(:first-child) {
                                padding-block-start: 16px;
                            }
                        }

                        & .total {
                            margin-block-start: 24px;
                            padding-block-start: 24px;
                            border-top: 1px solid $gray-clr3;
                        }
                    }
                }

                & .special-info {
                    margin-block-start: 24px;

                    & .info-container {
                        padding-inline-end: 16px;
                        & > * {
                            margin-inline-end: 8px;
                        }
                    }

                    & svg {
                        overflow: visible;
                    }
                }
            }
        }

        & .amenity-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        & .category-score-list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 8px;

            & .category-name {
                width: 100%;
            }

            & .category-score {
                width: 50%;
            }
        }

        & .stay-review-list {
            display: grid;
            grid-template-columns: repeat(2, minmax(300px, 1fr));
            column-gap: 8px;
        }

        & .host-details-container .host-details-main {
            display: flex;

            & :is(.host-main-info-container, .contact-host) {
                width: 41.6%;
            }

            & .contact-host {
                margin-block-start: 0;
                margin-inline-start: 8.333%;
                padding-inline: 8px;

                & button {
                    width: fit-content;
                }

                & .protection-info {
                    flex-direction: row-reverse;
                    max-width: 300px;
                }
            }
        }

        & .things-to-know {
            padding-block: 48px;

            & > .title {
                padding-block-end: 24px;
            }

            & .rules-container {
                display: flex;
                gap: 20px;

                & > * {
                    flex: 1;

                    & > *:not(:last-child) {
                        margin-block-end: 16px;
                    }
                }
            }
        }
    }
}

@include for-medium-layout {
    .details-layout {
        grid-template-columns: 80px minmax(auto, 1120px) 80px;
    }
}

@include for-large-layout {
    .details-layout {
        grid-template-columns: minmax(80px, 1fr) 1120px minmax(80px, 1fr);
    }
}

@include for-extra-large-layout {
    .main-layout {
        grid-template-columns: 80px 1fr 80px;
    }
}
