/******************** Breakpoint Mixins ********************/
@mixin for-extra-small-layout {
    @media (max-width: $small-breakpoint) {
        @content;
    }
}

@mixin for-small-layout {
    @media (min-width: $small-breakpoint) {
        @content;
    }
}

@mixin for-medium-layout {
    @media (min-width: $medium-breakpoint) {
        @content;
    }
}

@mixin for-large-layout {
    @media (min-width: $large-breakpoint) {
        @content;
    }
}

@mixin for-extra-large-layout {
    @media (min-width: $extra-large-breakpoint) {
        @content;
    }
}

/*************************************************/
/***************** Media  Mixins *****************/
@mixin aspect-ratio($width, $height) {
    position: relative;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        width: 100%;
        padding-top: calc(($height / $width) * 100%);
    }

    > * {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    > img {
        height: 100%;
        object-fit: cover;
    }
}

// Mixin for removing hover effects on iphone screen
@mixin hover-supported {
    @media not all and (pointer: coarse) {
        &:hover {
            @content;
        }
    }
}

@mixin flex {
    display: flex;
}

@mixin column {
    flex-direction: column;
}

@mixin justify-center {
    justify-content: center;
}

@mixin align-center {
    align-items: center;
}

@mixin between {
    justify-content: space-between;
}

@mixin center {
    align-items: center;
    justify-content: center;
}

@mixin grid {
    display: grid;
}

@mixin hidden {
    display: none;
}

@mixin clean-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
