// @font-face {
//     font-family: caveat;
//     src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// } 

// @font-face {
//     font-family: montserrat;
//     src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
// }


// AIRBNB FONT
@font-face {
    font-family: circular;
    src: url(../../fonts/FlowCircular/FlowCircular-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: sans-serif-regular;
    src: url(../../fonts/SansSerif/SansSerifFLF.otf);
}

@font-face {
    font-family: sans-serif-bold;
    src: url(../../fonts/SansSerif/SansSerifFLF-Demibold.otf);
}

@font-face {
    font-family: helvetica-neue-regular;
    src: url(../../fonts/HelveticaNeue/HelveticaNeue-Regular.otf);
}