// @font-face {
//     font-family: caveat;
//     src: url(../../fonts/Caveat/Caveat-Regular.ttf);
// } 


@font-face {
    font-family: Circular-Regular;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    // font-weight: normal;
    // font-style: normal;
    src: url("../../fonts/Circular/Airbnb-Cereal-Book.woff2") format("woff2");
    // font-display: swap;
}

@font-face {
    font-family: Circular-Semibold;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    // font-weight: 600;
    // font-style: normal;
    src: url("../../fonts/Circular/Airbnb-Cereal-Medium.woff2") format("woff2");
    // font-display: swap;
}

@font-face {
    font-family: Circular-Bold;
    unicode-range: U+0000-03FF, U+0500-058F, U+0700-074F, U+0780-FAFF, U+FE00-FE6F, U+FF00-EFFFF, U+FFFFE-10FFFF;
    // font-weight: 800;
    // font-style: normal;
    src: url("../../fonts/Circular/Airbnb-Cereal-Bold.woff2") format("woff2");
    // font-display: swap;
}

@font-face {
    font-family: cereal-std;
    src: url(../../fonts/airbnb-fonts/Airbnb_Cereal-Book.ttf);
}

@font-face {
    font-family: cereal-medium;
    src: url(../../fonts/airbnb-fonts/Airbnb_Cereal-Medium.ttf);
}

@font-face {
    font-family: cereal-bold;
    src: url(../../fonts/airbnb-fonts/Airbnb_Cereal-Bold.ttf);
}

@font-face {
    font-family: cereal;
    src: url(../../fonts/Cereal/AirbnbCereal_W_XBd.otf);
}

@font-face {
    font-family: cereal_W_Lt;
    src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Lt.otf);
}

@font-face {
    font-family: cereal_W_Md;
    src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Md.otf);
}

@font-face {
    font-family: cereal_W_Bd;
    src: url(../../fonts/airbnb-cereal-font/AirbnbCereal_W_Bd.otf);
}

@font-face {
    font-family: montserrat;
    src: url(../../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: montserrat semibold;
    src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: sans-serif-regular;
    src: url(../../fonts/SansSerif/SansSerifFLF.otf);
}

@font-face {
    font-family: sans-serif-bold;
    src: url(../../fonts/SansSerif/SansSerifFLF-Demibold.otf);
}

@font-face {
    font-family: helvetica-neue-regular;
    src: url(../../fonts/HelveticaNeue/HelveticaNeue-Regular.otf);
}