// Colors
$clr1: #ff385c;
$clr2: rgb(34, 34, 34);
$clr3: #717171;
$clr4: rgba(128, 128, 128, .3);
$clr5: rgb(176, 176, 176);
$clr6: #fff;
$clr7: #222;
$clr8: #f7f7f7;



// ******* Main Colors ******* 
$main-clr0: rgb(255, 56, 92);
$main-clr1: #E00B41;


// ******* Gray Colors ******* 
$gray-clr-1: rgb(255, 255, 255);
$gray-clr0: rgb(113, 113, 113);
$gray-clr1: rgb(138, 138, 138);
$gray-clr2: rgb(176, 176, 176);
$gray-clr3: rgb(221, 221, 221);
$gray-clr4: rgb(235, 235, 235);
$gray-clr5: rgb(247, 247, 247);



// ******* Black Colors *******
$black-clr0: black;
$black-clr1: rgb(34, 34, 34);
$black-clr2: #222222;



// Breakpoints
$mobile-breakpoint: 750px;
$narrow-breakpoint: 1450px;
// $normal-breakpoint: 960px;

// Paddings
$padding-large: 20px;
$padding-small: 5px;

// Heights
$height-header: 80px;

// Other
$border-bottom: 1px solid $clr4;